<section id="about" class="pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>
                    <span class="color">Of10 Ed</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p class="para-insider">We get our expert member community to teach innovative courses in
              design, marketing and tech.
              Learn from real world industry experts using live case studies and real world projects.
              No theory only application.Get learning now.</p>
          </div>
          <div class="col-md-2"></div>
        </div>

    </div>
</section>
<!-- End About Section -->

<!-- Blog Post Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <!-- Post Item -->
        <div class="row">
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>
        </div>
        <!-- End Post Item -->
    </div>
</section>
<!-- End Blog Post Section -->
