	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/05/2016 13:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 40px;
font-style: normal;

}

.flaticon-books:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-cloud-sync:before { content: "\f103"; }
.flaticon-coffee-machine:before { content: "\f104"; }
.flaticon-first-commercial-phone:before { content: "\f105"; }
.flaticon-gamepad:before { content: "\f106"; }
.flaticon-man-reading:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-school-desk:before { content: "\f109"; }
.flaticon-three-men-conference:before { content: "\f10a"; }
.flaticon-wifi:before { content: "\f10b"; }
.flaticon-responsive:before { content: "\f10c"; }
.flaticon-chef:before { content: "\f10d"; }
.flaticon-shopping-list:before { content: "\f10e"; }
.flaticon-success:before { content: "\f10f"; }
