.containers, .navbar-header, .right-btn {
   height: 60px;
}
.of10-nav {
   background: rgba(220, 61, 142, .8)!important;
   border:0;
   border-radius: 0;
   height: 60px;
   position: fixed;
   z-index: 99999;
   width: 100%;
}
/*.of10-nav .container {
   height: 60px;
   padding-top: 15px;
   padding-bottom: 15px;
}*/
.navbar-header {
   margin-top: 5px;
   padding: 15px 15px 15px 75px;
}
.right-btn {
   padding: 15px;
   background: #2BBBAD;
}
#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-right: 250px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   right: 250px;
   width: 0;
   height: 100%;
   margin-right: -250px;
   overflow-y: auto;
   background: #2BBBAD;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   /*padding: 8px;*/
   text-align: left;
   text-indent: 20px;
   line-height: 45px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: .4px;
}

.sidebar-nav li a:hover {
   /*text-decoration: none;
   color: #fff;
   background: rgba(255, 255, 255, 0.2);*/
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
   color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:768px) {
   #wrapper {
      padding-left: 0;
   }
   #wrapper.toggled {
      padding-right: 250px;
   }
   #sidebar-wrapper {
      width: 0;
   }
   #wrapper.toggled #sidebar-wrapper {
      width: 250px;
   }
   #page-content-wrapper {
      /*padding: 20px;*/
      position: relative;
   }
   #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
   }
}

.hvr-underline-from-left {
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px transparent;
   position: relative;
}
.hvr-underline-from-left:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 5%;
   right: 100%;
   bottom: 0;
   background: #9E005D;
   height: 3px;
   border-radius: 2px;
   -webkit-transition-property: right;
   transition-property: right;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
   right: 10%;
}

@media(min-width:768px) and (max-width: 991px) {
   .navbar-header{
     padding: 15px 15px 15px 45px;
   }
}

@media(max-width:767px) {
   .navbar-header{
     display: inline-block;
     padding: 15px 15px 15px 0px;
   }
}
