<!-- About Section -->
<section id="about" class="pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
             <div class="col-md-1"></div>
            <div class="col-md-10 ">
              <h1 class="color h4">
                People at Of10
            </h1>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p class="para-insider">We are a curated community of startups, freelancers and entrepreneurs
            looking to create, mould and shape the future.
            The environment we create is purpose-built to inspire innovation and propel
            new ideas. The core strength of our community is its diversity.
            Diversity enables people to learn from each other, collaborate, and be creative.
            We have an application process that ensures that we only have the highest
            quality members at Of10. </p>
          </div>
          <div class="col-md-2"></div>
        </div>

    </div>
</section>
<!-- End About Section -->

<!-- Work Section -->
<section class="ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row container-grid nf-col-3">
            <div class="nf-item csr spacing">
                <div class="item-box">
                  <a href="http://www.the4thwheel.com/Blog1/" target="_blank">
                    <img alt="Rini-4th Wheel" src="/img/members/of10-member-Rini.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Rini</h5>
                  <p>The 4th Wheel</p>
                </div>
            </div>

            <div class="nf-item marketing spacing">
                <div class="item-box">
                   <a href="http://practicenext.com/thinknext/" target="_blank">
                    <img alt="Tarun-Practice-Next" src="/img/members/of10-member-Tarun.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Tarun</h5>
                  <p>Practice Next</p>
                </div>
            </div>
            <div class="nf-item design spacing">
                <div class="item-box">
                  <a href="http://www.zeuxinnovation.com/chatbot-ux.html" target="_blank">
                    <img alt="Saurabh-ZEUX-Innovation" src="/img/members/of10-member-Saurabh.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Saurabh</h5>
                  <p>ZEUX Innovation</p>
                </div>
            </div>
            <div class="nf-item technology spacing">
                <div class="item-box">
                   <a href="https://www.linkedin.com/in/rishi-khaitan/" target="_blank">
                    <img alt="Rishi-Tour-Radar" src="/img/members/of10-member-Rishi.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Rishi</h5>
                  <p>Tour Radar</p>
                </div>
            </div>
            <div class="nf-item hr spacing">
                <div class="item-box">
                  <a href="https://in.linkedin.com/in/vaibhav-agrawal-04077424/" target="_blank">
                    <img alt="Vaibhav-Gifmos" src="/img/members/of10-member-Vaibhav.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Vaibhav</h5>
                  <p>Gifmos</p>
                </div>
            </div>
            <div class="nf-item hr spacing">
                <div class="item-box">
                  <a href="http://inqubex.com/" target="_blank">
                    <img alt="Toral-Inqubex-Consulting" src="/img/members/of10-member-Toral.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Toral</h5>
                  <p>Inqubex Consulting</p>
                </div>
            </div>
            <div class="nf-item hr spacing">
                <div class="item-box">
                  <a href="https://www.linkedin.com/in/r0hitgoyal/" target="_blank">
                    <img alt="Rohit-Paxplay" src="/img/members/of10-member-Rohit.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Rohit</h5>
                  <p>Paxplay</p>
                </div>
            </div>
            <div class="nf-item hr spacing">
                <div class="item-box">
                  <a href="https://www.linkedin.com/in/shubhdagarg/" target="_blank">
                    <img alt="Shubhda-3-Minds" src="/img/members/of10-member-Shubhda.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Shubhda</h5>
                  <p>3 Minds</p>
                </div>
            </div>
            <div class="nf-item hr spacing">
                <div class="item-box">
                  <a href="https://www.linkedin.com/in/hemalgathani/" target="_blank">
                    <img alt="Hemal-ZEUX-Innovation" src="/img/members/of10-member-Hemal.jpg" class="item-container img-circle">
                  </a>
                </div>
                <div class="spacer-15"></div>
                <div class="text-center">
                  <h5>Hemal</h5>
                  <p>ZEUX-Innovation</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Work Section -->
