<!-- About Section -->
<section id="about" class="pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-2"></div>
            <h1>
                <span class="color">The people in Of10</span>
            </h1>

        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Work Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <!-- work Filter -->
        <div class="row">
            <ul class="container-filter categories-filter">
                <li><a class="dark-color categories active" data-filter="*">All</a></li>
                <li><a class="dark-color categories" data-filter=".technology">Startups</a></li>
                <li><a class="dark-color categories" data-filter=".marketing">Service SMEs</a></li>
                <li><a class="dark-color categories" data-filter=".freelancers">Freelancers</a></li>
                <li><a class="dark-color categories" data-filter=".international">International Companies</a></li>
            </ul>
        </div>
        <!-- End work Filter -->
        <div class="row container-grid nf-col-3">

            <div class="nf-item technology spacing">
                <div class="item-box">
                    <a href="portfolio-single1.html">
                        <img alt="1" src="/img/members/sharon-weir.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Sharon Weir - Co-Founder, The 4th Wheel</h5>
                                <p class="white">CSR</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item marketing spacing">
                <div class="item-box">
                    <a href="portfolio-single2.html">
                        <img alt="1" src="/img/members/tarun-mitra.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Tarun Mitra - Founder, Practice Next</h5>
                                <p class="white">Marketing, Branding, Design</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item marketing spacing">
                <div class="item-box">
                    <a href="portfolio-single3.html">
                        <img alt="1" src="/img/members/saurabh-gupta.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Saurabh Gupta - Co-Founder - Zeux Innovation</h5>
                                <p class="white"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="portfolio-single4.html">
                        <img alt="1" src="/img/members/people-4.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Rethoric question ran over</h5>
                                <p class="white">Branding, Design</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item branding spacing">
                <div class="item-box">
                    <a href="portfolio-single1.html">
                        <img alt="1" src="/img/members/people-4.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Because there were</h5>
                                <p class="white">Branding, Design, Coffee</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a href="portfolio-single5-slider.html">
                        <img alt="1" src="/img/members/people-4.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Ran over her cheek</h5>
                                <p class="white">Branding, Slider</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="portfolio-single6-video.html">
                        <img alt="1" src="/img/members/people-4.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Oxmox advised her</h5>
                                <p class="white">Branding, Video</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item coffee spacing">
                <div class="item-box">
                    <a href="portfolio-single7-youtube.html">
                        <img alt="1" src="/img/members/people-4.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Subline of her own road</h5>
                                <p class="white">Branding, Youtube</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="portfolio-single8-vimeo.html">
                        <img alt="1" src="/img/members/people-1.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">But the Little Blind</h5>
                                <p class="white">Branding, Vimeo</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="portfolio-single1.html">
                        <img alt="1" src="/img/members/people-1.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Even the all-powerful</h5>
                                <p class="white">Branding, Design</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a href="portfolio-single2.html">
                        <img alt="1" src="/img/members/people-1.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Italic Mountains</h5>
                                <p class="white">Branding, Coffee</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a href="portfolio-single4.html">
                        <img alt="1" src="/img/members/people-1.jpg" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">control about the blind</h5>
                                <p class="white">Branding, Design</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Work Section -->
