<section id="clients" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="h4">Other Partners</h2>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.aws.com" target="_blank">
                        <img src="/img/partner-logos/aws.png" alt="AWS" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="https://www.ibm.com" target="_blank">
                        <img src="/img/partner-logos/ibm.png" alt="IBM" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="https://www.faasos.com/" target="_blank">
                        <img src="/img/partner-logos/faasos.jpg" alt="Faasos" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.snackible.com" target="_blank">
                        <img src="/img/partner-logos/snackible.png" alt="Snackible" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.crispy.university" target="_blank">
                        <img src="/img/partner-logos/crispy.png" alt="Crispy University" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="https://www.facebook.com/hamstercomedy" target="_blank">
                        <img src="/img/partner-logos/hamster.jpg" alt="Hamster Comedy" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
