<!-- Intro Section -->
<section class="inner-intro bg-img8 light-color overlay-dark parallax parallax-header-notfound">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Thanks for your interest in Of10</h2>
            <p class="para-insider">
                We will get back to you soon. We promise!
            </p>
            <div class="page-breadcrumb">
                <a class="dark-color" href="https://of10.in">Go Back</span>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
