
<!-- Contact Section -->
<section id="apply" class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="color">Book a Tour</h1>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="row">
            <div class="col-md-6 mb-45 editable">
                <!-- Contact FORM -->
                    <form id="contactform" method="POST">
                    <!-- IF MAIL SENT SUCCESSFULLY -->
                    <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                    </h6>
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                    </h6>
                    <!-- END MAIL SENDING UNSUCCESSFULL -->

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required autocomplete="name">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-company" type="text" name="form-company" placeholder="Company's Name">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-contact-number" type="text" name="form-contact-number" placeholder="Your Contact Number" required autocomplete="tel">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Your Email" required autocomplete="email">
                    </div>

                    <div class="form-field-wrapper">
                        <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Your requirements in terms of number of seats, number of days per week and intended time of use of the space" required></textarea>
                    </div>

                    <input type="text" name="_gotcha" style="display:none" />
                    <button class="btn btn-md btn-color-a form-full" type="submit" id="form-submit" name="submit">Send</button>
                </form>
                <!-- END Contact FORM -->
            </div>
            <div class="col-md-5 col-md-offset-1 contact">
                <div class="contact-box-left mb-45">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6>Address</h6>
                    <p>
                        Prudential Ground Floor, Hiranandani Gardens, <br/> Powai, Mumbai - 400076
                    </p>
                    <a class="dark-color" href="mailto:work@of10.in">
                        <i class="fa fa-envelope-o left"></i>work@of10.in
                    </a>
                    <br />
                    <a href="tel:+919920290368 " class="dark-color" >
                        <i class="fa fa-phone left"></i>+91 9920290368
                    </a>
                    <br/>
                    <a href="tel:+919769640026" class="dark-color">
                        <i class="fa fa-phone left"></i>+91 9769640026
                    </a>
                    <br/>
                    <a href="tel:+912262215191" class="dark-color">
                        <i class="fa fa-phone left"></i>+91 2262215191
                    </a>

                </div>
                <div class="contact-box-left mb-45">
                    <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                    <h6>Business Hours</h6>
                    <p>
                        <span>Mon - Sat: 9am to 7pm</span>
                        <br/>
                        <span>Open 24 x 7 for Members</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var contactform =  document.getElementById('contactform');
        contactform.setAttribute('action', '//formspree.io/' + 'work' + '@' + 'of10' + '.' + 'in');
    </script>
</section>
<!-- Contact Section -->
