<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <div class="logo">
            <a href="https://of10.in">
                <span>OF10</span>
            </a>
        </div>
        <!--End logo-->

        <!-- Navigation Menu -->
         <div class="pull-right">
            <a id="nav-toggle" onclick="toggleOverlay()" >
        <div class="hamburger-btn">

            <span>
            </span>
        </div>
        </a> 
        </div>
        <!--End Navigation Menu -->
    </div>
</header>
<!-- END HEADER -->
