<!-- Intro Section -->
<section id="home" class="ptb ptb-sm-80">
    <div class="container-fluid">
        <div class="row title">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="color h4">Community Partnerships</h1>
          </div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 ">
            <p class="para-insider">
                Our members are an eclectic, sophisticated and yet a nomadic bunch. We want you to travel the world. Heck we want to travel the world. Of10 has some tremendous co-working partners through the world. <a class="color" href="#partner">Partner with us</a> today and join our network
            </p>
          </div>
          <div class="col-md-2"></div>
        </div>
    </div>
</section>

<!-- End Intro Section -->
