
<section id="locations" class="text-center">
    <div class="container">
      <div class="row container-grid nf-col-3">
          <div class="nf-item csr spacing">
              <div class="item-box">
                <a href="/2016/12/14/in-the-loving-memory-of/">
                  <img alt="Madeira-and-Mime-Mumbai" src="/img/partners/of10-shared-space-madmime1.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Madeira and Mime - Mumbai</h5>
                <p>Free coworking for Of10 Members. 15% off on food and beverages</p>
              </div>
          </div>
          <div class="nf-item hr spacing">
              <div class="item-box">
                <a href="/2017/02/27/of10-work-from-singapore/" target="_blank">
                  <img alt="Collision8-Singapore1" src="/img/partners/of10-shared-space-collision8.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Collision8 - Singapore</h5>
                <p>3 free days of coworking for Of10 Members</p>
              </div>
          </div>
          <div class="nf-item hr spacing">
              <div class="item-box">
                <a href="/2017/05/02/empire-state-of-mind/" target="_blank">
                  <img alt="Spark-Labs-NYC" src="/img/partners/of10-shared-space-spark.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Spark Labs - NYC</h5>
                <p>3 free days of coworking for Of10 Members</p>
              </div>
          </div>
          <div class="nf-item marketing spacing">
              <div class="item-box">
                 <a href="/2017/01/10/of10-betahaus-partnership/">
                  <img alt="Betahaus-Berlin" src="/img/partners/of10-shared-space-betahaus1.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Betahaus - Berlin</h5>
                <p>5 free days of coworking for Of10 Members</p>
              </div>
          </div>
          <div class="nf-item design spacing">
              <div class="item-box">
                <a href="/2017/01/10/of10-betahaus-partnership/" target="_blank">
                  <img alt="Betahaus-Sofia" src="/img/partners/of10-shared-space-betahaus2.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Betahaus - Sofia</h5>
                <p>5 free days of coworking for Of10 Members</p>
              </div>
          </div>
          <div class="nf-item technology spacing">
              <div class="item-box">
                 <a href="/2017/01/10/of10-betahaus-partnership/" target="_blank">
                  <img alt="Betahaus-Barcelona" src="/img/partners/of10-shared-space-betahaus3.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Betahaus - Barcelona</h5>
                <p>5 free days of coworking for Of10 Members</p>
              </div>
          </div>
          <div class="nf-item hr spacing">
              <div class="item-box">
                <a href="/2017/01/10/of10-betahaus-partnership/" target="_blank">
                  <img alt="Betahaus-Hamburg" src="/img/partners/of10-shared-space-betahaus4.jpg" class="item-container">
                </a>
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Betahaus - Hamburg</h5>
                <p>5 free days of coworking for Of10 Members</p>
              </div>
          </div>
      </div>
</section>
