<section id="clients" class="wow fadeIn ptb ptb-sm-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h2 class="h4">Community Partners</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="spacer-75"></div>
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://aws.amazon.com/activate/" target="_blank">
                        <img src="/img/partner-logos/aws.png" alt="AWS" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.thebackspace.in/" target="_blank">
                        <img src="/img/partner-logos/backspace.jpg" alt="Backspace Consulting" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.themisconsult.com/" target="_blank">
                        <img src="/img/partner-logos/themis.png" alt="Themis Consulting" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.treebo.com" target="_blank">
                        <img src="/img/partner-logos/treebo.png" alt="Treebo Hotels" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.myglamm.com/" target="_blank">
                        <img src="/img/partner-logos/myglamm.png" alt="MyGlamm" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.udaanindiafoundation.org/" target="_blank">
                        <img src="/img/partner-logos/udaan.png" alt="Udaan India Foundation" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://holachef.com" target="_blank">
                        <img src="/img/partner-logos/holachef.png" alt="Hola Chef" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://snackible.com" target="_blank">
                        <img src="/img/partner-logos/snackible.png" alt="Snackible" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="#" target="_blank">
                        <img src="/img/partner-logos/e-cafe.png" alt="Faasos" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://mobilegrowth.org/" target="_blank">
                        <img src="/img/partner-logos/branch.png" alt="Branch Metrics" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://www.facebook.com/hamstercomedy/" target="_blank">
                        <img src="/img/partner-logos/hamster.jpg" alt="Hamster Comedy" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://www.ibm.com/" target="_blank">
                        <img src="/img/partner-logos/ibm.png" alt="IBM" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
