<!-- Intro Section -->
<section id="home" class="ptb ptb-sm-80">
    <div class="container">
        <div class="row title">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="color">Community Partnerships</h1>
          </div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="para-insider">
                Our members are an eclectic, sophisticated and yet a nomadic bunch. We want you to travel the world. Heck we want to travel the world. Of10 has some tremendous <a href="https://of10.in">co-working</a> partners through the world. Check them out here
            </p>
          </div>
        </div>
    </div>
</section>

<!-- End Intro Section -->
