        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80 grad_background">
            <div class="container">
                <div id = "about">
                    <h1 class="h4 text-center dark-color">A rad new coworking Community in Mumbai</h1>
                </div>
                <div class="spacer-60"></div>
                <div class="container-masonry nf-col-3">
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="contact" target="_blank">
                          <img alt="Office Space" src="img/gallery/brightview.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption text-center">
                                  <h2 class="white">Magical Mystery Tour.</h2>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                        <div class="item-box">
                            <a href="https://www.google.com/maps/dir//Of10,+Prudential+Ground+Floor,+Hiranandani+Gardens,+Powai,+Mumbai,+Maharashtra+400076,+India" target="_blank">
                                <img alt="Hiranandani Powai" src="img/brickwall/map.png" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption text-center">
                                        <h2 class="white">Map.</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="#about">
                          <div class="square-white">
                            <div class="center-box">
                              <h2>Who are we?</h2>
                            </div>
                          </div>
                           <div class="item-mask">
                              <div class="item-caption text-center">
                                  <h2 class="white">Who are we?</h2>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="partnerships" target="_blank">
                            <div class="square-white">
                              <div class="center-box">
                                <h2>Work from anywhere.</h2>
                              </div>
                            </div>
                            <div class="item-mask">
                                <div class="item-caption text-center">
                                    <h2 class="white">Work from anywhere.</h2>
                                </div>
                            </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                     <div class="item-box">
                        <a href="community" target="_blank">
                            <img alt="Office Space" src="img/brickwall/members.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption text-center">
                                    <h2 class="white">Meet the fam.</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="#gallery">
                              <img alt="Event Space" src="img/brickwall/events.jpg" class="item-container">
                              <div class="item-mask">
                                  <div class="item-caption text-center">
                                      <h2 class="white">Picture this.</h2>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="blog" target="_blank">
                          <img alt="Freelancers" src="img/brickwall/blog.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption">
                                  <h2 class="white">Views.</h2>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="events" target="_blank">
                          <img id="imgAnimate" alt="Freelancers" src="img/brickwall/hustle.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption">
                                  <h2 class="white">Of10 Live.</h2>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="learn" target="_blank">
                            <div class="square-white">
                              <div class="center-box">
                                <h2>Get Schooled.</h2>
                              </div>
                            </div>
                             <div class="item-mask">
                                <div class="item-caption text-center">
                                    <h2 class="white">Get Schooled.</h2>
                                </div>
                            </div>
                          </a>
                      </div>
                  </div>


                </div>
            </div>
        </section>
