<!--About Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80" style="background-color:#f7f7f7">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4">About Of10 Coworking</h2>
                <div class="spacer-15"></div>
                <p class="lead">Mankind’s greatest and most persistent victory, has been its evolution. At Of10, we believe your workspace should evolve in tandem with you. Situated in Hiranandani Gardens, Powai; India’s Silicon Valley; Of10 is home to creative and passionate millennials looking to change the world with their ideas.</p>
                <p class="lead">
                The spaces we create mould themselves to fit your needs with their intuitive design, world-class amenities and ingrained support systems. You will find yourself in an environment that has been created to encourage innovation, foster collaboration and allow the free-flow of ideas amongst some of the brightest minds in the country. Everything is on us. All you have to do is <b>change the world</b>
                </p>
                 <div class="post-media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/le0dfcG_jVw" frameborder="0" allowfullscreen></iframe>
                 </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->