<!--About Section-->
<section id="about" class="about wow fadeIn ptb ptb-sm-80">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4 about-heading">What is Of10?</h2>
                <div class="spacer-15"></div>
                <p class="lead">Of10 is a design-led, contemporary lifestyle brand and the industry innovator in the field of collaborative workspaces.</p>
                <p class="lead">
                We are a curated <i>co-working space</i> located in Hiranandani Gardens, Powai, Mumbai.
                We provide the ultimate in insider access, allowing innovators and local tastemakers
                to be connected to the pulse of What’s New and Next.
                </p>
                <p class="lead">
                  Each Of10 space offers a unique mix of innovative design centred around design, fashion, music and tech.
                </p>
                <p class="lead">For more information check our <a href="/press#faqs">FAQS</a></p>
                <div class="post-media">
                    <iframe title="coworking_video" width="560" height="315" src="https://www.youtube.com/embed/le0dfcG_jVw?enablejsapi=1&origin=http://of10.in" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
