<!--About Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80" style="background-color:#f7f7f7">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4">Work from anywhere</h2>
                <div class="spacer-15"></div>
                <section>
                    <h3>Easy check-in</h3>

                    <h5>First time? Drop by any of our locations and get a free trial day on us.</h5>
                </section>
                <section>
                    <h3>Your home away from home</h3>


                    <h5>When the space begins to prepare for dinner service, feel free to stick around and grab a
                        drink!</h5>
                </section>
                <section>
                    <h3>Community & collaboration</h3>

                    <h5>
                        Want to learn about our private meeting rooms? Contact reservations@spacious.com to find out how
                        we
                        can
                        help you with anything from team standups to catered conferences.
                    </h5>
                </section>
                <section>
                    <h3>Ideal for daily or weekly work</h3>

                    <h5>
                        Freelance artists, business travelers, and small startup teams all love working here.
                    </h5>
                </section>
                <section>
                    <h3>Supporting local businesses</h3>
                </section>
                Join now and help us create the office of the future.


            </div>
        </div>
    </div>
</section>
<!-- End About Section-->