<!--About Section-->
<section id="about" class="about wow fadeIn ptb ptb-sm-80">
    <!-- <div class="container">
        <div class="row ">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4 text-center about-heading">Why Of10?</h2>
                <div class="spacer-15"></div>
                <div class="First">
                  <h5 class="h5">
                    #1 :: The first rule of Real Estate is
                    Location Location Location. And boy have we got you covered
                  </h5>
                  <ul>
                    <li class="lead">Premium Grade A Building?</li>
                    <li class="lead">Sophisticated Infrastructure and Amenities? </li>
                    <li class="lead">Premium and affordable housing for you and your employees ? </li>
                    <li class="lead">Pubs, Restaurants across the road? </li>
                    <li class="lead">Supply of the best talent in Bombay from the best premier institute of learning in the neighbourhood? (IIT Bombay)
                    </li>
                  </ul>
                  <p class="lead">
                    Literally, nothing beats our location, not even Mumbai’s Central Business District, BKC.
                    Not convinced? <a class="color" href="#apply">Come visit</a>, a little less conversation a little more action.
                  </p>
                </div>
                <div class="spacer-15"></div>
                <div class="Second">
                  <h5 class="h5">
                    #2 :: Price - You guys are too cool to be affordable!
                  </h5>
                    <p class="lead">While we are glad you feel that way, the idea behind of10 is to make setting up a business affordably, easy as pie.</p>
                    <p class="lead">We even conjured up this handy graph to show you how in-expensive of10 is compared to getting your own personal office space.</p>
                    <p class="lead">Not only are we cheaper; here is the list of things we offer, that you can’t put a price on:
                </div>
                <div class="spacer-15"></div>
                <div class="Third">
                  <h5 class="h5">
                    #3 :: You are who you know
                    At Of10, we don’t just let anyone walk in through the door.
                  </h5>
                  <p class="lead">What is the point of working out of a SHARED workspace if you don’t interact with anyone else in the space?
                    We are an extremely small curated workspace. We believe in quality over quantity and strive to get a close knit, powerful community together.
                    We vet every single applicant, personally.
                    We are <a class="color" href="/community">NOT</a> a factory of people, we are <a href="/press/#faqs">NOT</a> main-stream and we <a href="/apply/">ARE</a> what you are looking for.</p>
                </div>
          </div>
        </div>
    </div>
    <div class="container text-center">
        <h3 class="h4 amenities-heading">Why Of10?</h3>
    </div>
    <div class="spacer-30"></div>
    <div class="owl-carousel content-carousel">
        <div class="item">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive full-width" src="img/brickwall/location.png" alt="Best location in Powai" />
                    </div>
                    <div class="col-md-6" style="background-color:#F0AECE">
                        <div class="spacer-15"></div>
                        <h4 class="content-title">
                          #1 :: The first rule of Real Estate is
                        </h4>
                        <div class="spacer-15"></div>
                        <p class="para-insider">Location, Location, Location. And boy have we got you covered</p>
                        <div class="spacer-15"></div>
                        <ul class="list-inside">
                          <li class="lead">Premium Grade A Building? <i class="ion ion-checkmark"></i></li>
                          <li class="lead">Sophisticated Infrastructure and Amenities? <i class="ion ion-checkmark"></i> </li>
                          <li class="lead">Premium and affordable housing for your employees? <i class="ion ion-checkmark"></i></li>
                          <li class="lead">Pubs, Restaurants across the road? <i class="ion ion-checkmark"></i></li>
                          <li class="lead">Supply of the best talent in Bombay?<i class="ion ion-checkmark"></i></li>
                        </ul>
                        <div class="spacer-15"></div>
                        <p class="lead">
                          Literally, nothing beats our location, not even Mumbai’s Central Business District, BKC.
                        </p>
                        <p class="lead">Not convinced?
                          <a class="white" href="#apply">Come visit</a>, a little less conversation a little more action.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid no-padding">
                <div class="row col-md-12">
                    <div class="col-md-6" style="padding-left:5px; background-color:#7FCFD2">
                        <div class="spacer-15"></div>
                        <h4 class="content-title">
                          #2 :: Price - You guys are too cool to be affordable!
                        </h4>
                        <div class="spacer-15"></div>
                        <p class="para-insider">While we are glad you feel that way, the idea behind Of10 is to make setting up a business affordably, easy as pie.</p>
                        <p class="lead">Not only are we cheaper; here is the list of things we offer, that you can’t put a price on:
                        <div class="spacer-15"></div>
                        <ul class="list-inside">
                            <li class="lead">Flexibility. No long term contracts.</li>
                            <li class="lead">No set-up or administration costs or headaches</li>
                            <li class="lead">Weekly community events</li>
                            <li class="lead">Access to business services</li>
                            <li class="lead">A community of high quality people</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="spacer-15"></div>
                        <p class="lead">We even conjured up this handy graph to show you how in-expensive of10 is compared to getting your own personal office space.</p>
                        <img class="img-responsive text-center" src="img/brickwall/graph.png" alt="Much cheaper than an office space" />
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive full-width" src="img/brickwall/storytelling.png" alt=""/>
                    </div>
                    <div class="col-md-6" style="background-color:#E8705D">
                        <div class="spacer-15"></div>
                        <h4 class="content-title">
                          #3 :: You are who you know.
                        </h4>
                        <div class="spacer-15"></div>
                        <p class="para-insider">At Of10, we don’t just let anyone walk in through the door.</p>
                        <div class="spacer-15"></div>
                        <p class="lead">
                          What is the point of working out of a SHARED workspace if you don’t interact with anyone else in the space?
                          We are an extremely small curated workspace.
                        </p>
                        <p class="lead">We believe in quality over quantity and strive to get a close knit, powerful community together.
                          We vet every single applicant, personally.
                        </p>
                        <p class="lead">
                          We are <a class="white" href="/community">NOT</a>
                          a factory of people, we are <a class="white" href="/press/#faqs">NOT</a> main-stream and we
                          <a class="white" href="/apply/">ARE</a> what you are looking for.
                        </p>
                        <div class="spacer-30"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--About Section-->
<section id="about" class="about wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4 about-heading">What is Of10?</h2>
                <div class="spacer-15"></div>
                <p class="lead">Of10 is a design-led, contemporary lifestyle brand and the industry innovator in the field of collaborative workspaces.</p>
                <p class="lead">
                We are a curated <i>co-working space</i> located in Hiranandani Gardens, Powai, Mumbai.  We provide the ultimate in insider access, allowing innovators and local tastemakers to be connected to the pulse of What’s New and Next.
                </p>
                <p class="lead">
                  Each Of10 space offers a unique mix of innovative design centred around design, fashion, music and tech.
                </p>
                <p class="lead">For more information check our <a href="/press#faqs">FAQS</a></p>
                <div class="post-media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/le0dfcG_jVw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
