        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80" style="background-color:#EC008C">
            <div class="container">
                <div id = "about">
                    <h3 class="h4 text-center light-color">Around Of10</h3>
                </div>
                <div class="spacer-60"></div>
                <div class="container-masonry nf-col-3">
                    <div class="nf-item branding coffee">
                        <div class="item-box">
                            <img alt="1" src="img/portfolio/14.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">Prudential, Hiranandani Gardens</h5>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nf-item photo">
                        <div class="item-box">
                            <a href="portfolio-single2.html">
                                <img alt="1" src="img/portfolio/2.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Bookmarksgrove right at</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding photo">
                        <div class="item-box">
                            <a href="portfolio-single3.html">
                                <img alt="1" src="img/portfolio/17.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">A small river named</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="nf-item design">
                        <div class="item-box">
                            <a href="portfolio-single4.html">
                                <img alt="1" src="img/portfolio/34.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Rethoric question ran over</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo">
                        <div class="item-box">
                            <a href="portfolio-single1.html">
                                <img alt="1" src="img/portfolio/32.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Because there were thousands</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo">
                        <div class="item-box">
                            <a href="portfolio-single5-slider.html">
                                <img alt="1" src="img/portfolio/21.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Ran over her cheek</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design">
                        <div class="item-box">
                            <a href="portfolio-single6-video.html">
                                <img alt="1" src="img/portfolio/22.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Oxmox advised her</h5>
                                        <p class="white">Branding, Video</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item coffee">
                        <div class="item-box">
                            <a href="portfolio-single7-youtube.html">
                                <img alt="1" src="img/portfolio/29.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Subline of her own road</h5>
                                        <p class="white">Branding, Youtube</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design">
                        <div class="item-box">
                            <a href="portfolio-single8-vimeo.html">
                                <img alt="1" src="img/portfolio/23.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">But the Little Blind</h5>
                                        <p class="white">Branding, Vimeo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design">
                        <div class="item-box">
                            <a href="portfolio-single1.html">
                                <img alt="1" src="img/portfolio/24.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Even the all-powerful</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo">
                        <div class="item-box">
                            <a href="portfolio-single2.html">
                                <img alt="1" src="img/portfolio/25.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Italic Mountains</h5>
                                        <p class="white">Branding, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo">
                        <div class="item-box">
                            <a href="portfolio-single4.html">
                                <img alt="1" src="img/portfolio/33.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">control about the blind</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee">
                        <div class="item-box">
                            <a href="portfolio-single5-slider.html">
                                <img alt="1" src="img/portfolio/27.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee">
                        <div class="item-box">
                            <a href="portfolio-single1.html">
                                <img alt="1" src="img/portfolio/18.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design">
                        <div class="item-box">
                            <a href="portfolio-single2.html">
                                <img alt="1" src="img/portfolio/4.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee">
                        <div class="item-box">
                            <a href="portfolio-single3.html">
                                <img alt="1" src="img/portfolio/30.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design">
                        <div class="item-box">
                            <a href="portfolio-single4.html">
                                <img alt="1" src="img/portfolio/10.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </section>