        <!-- Work Detail Section -->
        <section id="explore" class="ptb ptb-sm-80 grad_background" style="background-color:#000">
            <div class="container">
                <div>
                    <h1 class="h4 text-center color">A rad new coworking Community in Mumbai</h1>
                </div>
                <div class="spacer-60"></div>
                <div class="container-masonry nf-col-3">
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="#about">
                          <div class="square-white">
                            <div class="center-box">
                              <p class="h2">Why Of10?</p>
                            </div>
                          </div>
                           <div class="item-mask">
                              <div class="item-caption text-center">
                                  <p class="white">Why Work Of10.</p>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="contact/" target="_blank">
                          <img alt="Best shared space" src="img/gallery/of10-shared-office-space.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption text-center">
                                  <p class="white">Magical Mystery Tour.</p>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                        <div class="item-box">
                            <a href="https://www.google.com/maps/dir//Of10,+Prudential+Ground+Floor,+Hiranandani+Gardens,+Powai,+Mumbai,+Maharashtra+400076,+India" target="_blank">
                                <img alt="Hiranandani Powai office space for rent" src="img/brickwall/coworking-in-mumbai-powai.png" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption text-center">
                                        <p class="white">Find Us.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="#gallery">
                              <img alt="Event Space" src="img/brickwall/shared-space-in-mumbai-powai.jpg" class="item-container">
                              <div class="item-mask">
                                  <div class="item-caption text-center">
                                      <p class="white">Picture this.</p>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                     <div class="item-box">
                        <a href="community/" target="_blank">
                            <img alt="shared office space mumbai" src="img/brickwall/of10-shared-office-space-members.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption text-center">
                                    <p class="white">Meet the fam.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="partnerships/" target="_blank">
                            <div class="square-white">
                              <div class="center-box" id="center-box">
                                <p class="h2">Work from anywhere.</p>
                              </div>
                            </div>
                            <div class="item-mask">
                                <div class="item-caption text-center">
                                    <p class="white">Work from anywhere.</p>
                                </div>
                            </div>
                          </a>
                      </div>
                  </div>


                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="events/" target="_blank">
                          <img id="imgAnimate" alt="shared office space" src="img/brickwall/of10-shared-office-space-hustle.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption">
                                  <p class="white">Of10 Live.</p>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="learn/" target="_blank">
                            <div class="square-white">
                              <div class="center-box">
                                <p class="h2">Get Schooled.</p>
                              </div>
                            </div>
                             <div class="item-mask">
                                <div class="item-caption text-center">
                                    <p class="white">Get Schooled.</p>
                                </div>
                            </div>
                          </a>
                      </div>
                  </div>

                  <div class="nf-item photo">
                      <div class="item-box">
                          <a href="blog/" target="_blank">
                          <img alt="Freelancers office" src="img/brickwall/of10-shared-office-space-blog.jpg" class="item-container">
                          <div class="item-mask">
                              <div class="item-caption">
                                  <p class="white">Views.</p>
                              </div>
                          </div>
                          </a>
                      </div>
                  </div>

                </div>
            </div>
        </section>
