<!-- Service Section -->
<section id="amenities" class="ptb ptb-sm-80" style="background-color:#FFFFFF">
    <div class="wow fadeInLeft container text-center">
        <h3>Why Work Of10</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-android-home"></i></div>
                <h5>Home Base</h5>
                <p>Forget the rules and conventions of a rigid corp office; make your workspace your home</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-people"></i></div>
                <h5>Community</h5>
                <p>Learn from and be inspired by the people around you; make friends, network and meet your next partner, client, or investor!</p>
            </div>
             <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-location"></i></div>
                <h5>Location</h5>
                <p>Work within a neo classical architectural marvel - Hiranandani Gardens; be spoilt for choice with cafes, restaurants and bars</p>
            </div>
        </div> 
         <div class="row">   
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-heart"></i></div>
                <h5>Culture</h5>
                <p>Experience the vibrant and diverse start-up culture of Powai, India’s very own Silicon Valley</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-coffee"></i></div>
                <h5>Amenities</h5>
                <p>High Speed Wi-Fi, delicious hot beverages to fuel you, printing and scanning and much more</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-android-microphone"></i></div>
                <h5>Event Space</h5>
                <p>Attend curated events like book readings, hackathons and impromptu think tanks by members and noted speakers. Better yet, host your own!</p>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->