<!-- Service Section -->
<section id="amenities" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <h3 class="h4 amenities-heading">Our Features</h3>
        <div class="spacer-60"></div>
        <div class="row editable">
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-clock"></i></div>
                <h4 class="h5">24 x 7 Workspace</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-wifi"></i></div>
                <h4 class="h5">Leased Line Internet</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-first-commercial-phone"></i></div>
                <h4 class="h5">Break Out Rooms</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-printer-outline"></i></div>
                <h4 class="h5">Free Printing</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-three-men-conference"></i></div>
                <h4 class="h5">Conference Room</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-coffee-machine"></i></div>
                <h4 class="h5">Coffee and Snacks</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-calendar"></i></div>
                <h4 class="h5">Community Events</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-money"></i></div>
                <h4 class="h5">In House VCs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-game-controller-b-outline"></i></div>
                <h4 class="h5">Game Room</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-bookmarks-outline"></i></div>
                <h4 class="h5">Community Library</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-school-desk"></i></div>
                <h4 class="h5">Workshops and Classes</h4>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-cloud-sync"></i></div>
                <h4 class="h5">Virtual Office</h4>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
