<!-- Contact Section -->
<section id="apply" class="ptb ptb-sm-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 class="apply-heading">Book a tour</h3>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="row">
            <div class="col-md-6 mb-45">
                     <form id="contactform" method="POST" name="apply_for_an_office" data-netlify="true">
                    <h6 class="successContent">
                        <i class="fa fa-check left"></i>Your message has been sent successfully.
                    </h6>
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left"></i>There was a problem validating the form please check!
                    </h6>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required autocomplete="name">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-company" type="text" name="form-company" placeholder="Company's Name">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-contact-number" type="text" name="form-contact-number" placeholder="Your Contact Number" required autocomplete="tel">
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Your Email" required autocomplete="email">
                    </div>

                    <div class="form-field-wrapper">
                        <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Your requirements in terms of number of seats, number of days per week and intended time of use of the space" required></textarea>
                    </div>

                    <input type="text" name="_gotcha" style="display:none" />
                    <button class="btn btn-md btn-color-a form-full" type="submit" id="form-submit" name="submit">Send</button>
                </form>
                <!-- END Contact FORM -->

            </div>
            <div class="col-md-5 col-md-offset-1 contact">
                <div class="contact-box-left mb-45">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6>Address</h6>
                    <p>
                        A/204 Supreme Business Park, Hiranandani Gardens, <br/> Powai, Mumbai - 400076
                    </p>
                    <a class="dark-color" href="mailto:work@of10.in">
                        <i class="fa fa-envelope-o left"></i>work@of10.in
                    </a>
                    <br />
                    <a href="tel:+91 9819472889" class="dark-color">
                        <i class="fa fa-phone left"></i>+91 2262215191
                    </a>
                    <br />
                    <a href="tel:+919920290368 " class="dark-color" >
                        <i class="fa fa-phone left"></i>+91 9920290368
                    </a>
                    <br/>
                </div>
                <div class="contact-box-left mb-45">
                    <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                    <h6>Business Hours</h6>
                    <p>
                        <span>Mon - Sat: 9am to 7pm</span>
                        <br/>
                        <span>Open 24 x 7 for Members</span>
                    </p>
                </div>
                <div class="contact-box-left mb-45">
                    <ul class="list-none social">
                        <li><a class="dark-color" rel="nofollow noopener" href="https://www.facebook.com/workof10" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="dark-color" rel="nofollow noopener" href="https://instagram.com/workof10" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="dark-color" rel="nofollow noopener" href="https://www.twitter.com/workof10" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                  <form action="//of10.us15.list-manage.com/subscribe/post?u=0ab41047ea166295832022ba9&amp;id=ef92461434"  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                    <label class="para-insider dark-color" for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="input-sm form-half" id="mce-EMAIL" placeholder="Email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ab41047ea166295832022ba9_ef92461434" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xs btn-color-a"></div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var contactform =  document.getElementById('contactform');
        contactform.setAttribute('action', '//formspree.io/' + 'work' + '@' + 'of10' + '.' + 'in');
    </script>
</section>
<!-- Contact Section -->
