<section id="clients" class="wow fadeIn ptb ptb-sm-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 class="h4 clients-heading">Members at Of10</h3>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="owl-carousel client-carousel nf-carousel-theme ">
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.linceducation.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-linc.webp" loading="lazy" alt="Linc Education" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.simurise.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-simurise.webp" loading="lazy" alt="Simurise" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="https://www.self-concept.net/" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-selfconcept.webp" loading="lazy" alt="Self Concept" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="https://www.glossaread.com/" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-glossaread.webp" loading="lazy" alt="Glossaread" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://getmyvaccine.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-get-my-vaccine.webp" loading="lazy" alt="Vacci Me" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.celerstudio.com/" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-celerstudio.webp" loading="lazy" alt="Celerstudio" />
                  </a>
              </div>
          </div>
          <!-- <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://codoc.co.in/" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-clomerics_brand_elements.webp" alt="Clomerics-brand-elements" />
                  </a>
              </div>
          </div> -->
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.zeuxinnovation.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-zeux.webp" loading="lazy" alt="Zeux Innovation" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.kissdoodles.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-kiss-doodles.webp" loading="lazy" alt="Kiss Doodles" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://riflexions.com/" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-riflexions.webp" loading="lazy" alt="Reflexions" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.tourradar.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-tourradar.webp" loading="lazy" alt="Tour Radar" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.crazyinnotech.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-crazyinnotech.jpg" loading="lazy" alt="Crazy Innotech" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow noopener" href="http://www.the4thwheel.com" target="_blank">
                      <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-4thwheel.webp" loading="lazy" alt="The 4th Wheel" />
                  </a>
              </div>
          </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.practicenext.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-practicenext.webp" loading="lazy" alt="Practice Next" />
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.p2sis.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-p2sys.webp" loading="lazy" alt="P2SIS" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.swipez.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-swipez.webp" loading="lazy" alt="Swipe EZ" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.gifmos.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-gifmos.webp" loading="lazy" alt="Gifmos" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.thefuturewear.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-thefuturewear.webp" loading="lazy" alt="The Future Wear" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="http://www.guildcap.com" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-guildcap.webp" loading="lazy" alt="Guild Capital" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow noopener" href="https://www.votomobile.org/" target="_blank">
                        <img src="img/of10.webp"data-defer-src="img/logos/of10-shared-space-member-votomobile.webp" loading="lazy" alt="Homestayz" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
