<section id="clients" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="h4">Members at Of10</h2>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="owl-carousel client-carousel nf-carousel-theme ">
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow" href="http://www.zeuxinnovation.com" target="_blank">
                      <img src="img/logos/zeux.png" alt="Zeux Innovation" />
                  </a>
              </div>
          </div>
          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow" href="http://www.vacci.me" target="_blank">
                      <img src="img/logos/vaccime.png" alt="Vacci Me" />
                  </a>
              </div>
          </div>

          <div class="item">
              <div class="client-logo">
                  <a href="http://www.3mindsdigital.com" target="_blank">
                      <img src="img/logos/3minds.png" alt="3 Minds Digital" />
                  </a>
              </div>
          </div>


          <div class="item">
              <div class="client-logo">
                  <a rel="nofollow" href="http://www.crazyinnotech.com" target="_blank">
                      <img src="img/logos/crazyinnotech.jpg" alt="Crazy Innotech" />
                  </a>
              </div>
          </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.practicenext.com" target="_blank">
                        <img src="img/logos/01.png" alt="Practice Next" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.p2sis.com" target="_blank">
                        <img src="img/logos/p2sys.png" alt="P2SIS" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.the4thwheel.com" target="_blank">
                        <img src="img/logos/02.png" alt="The 4th Wheel" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.swipez.com" target="_blank">
                        <img src="img/logos/swipez.png" alt="Swipe EZ" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.gifmos.com" target="_blank">
                        <img src="img/logos/gifmos.png" alt="Gifmos" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.paxplay.in" target="_blank">
                        <img src="img/logos/03.png" alt="Pax Play" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.thefuturewear.com" target="_blank">
                        <img src="img/logos/04.png" alt="The Future Wear" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="http://www.guildcap.com" target="_blank">
                        <img src="img/logos/06.png" alt="Guild Capital" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a rel="nofollow" href="https://www.votomobile.org/" target="_blank">
                        <img src="img/logos/votomobile.png" alt="Homestayz" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
