<section id="clients" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>MEMBERS AT OF10</h3>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.practicenext.com" target="_blank">
                        <img src="img/logos/01.png" alt="Practice Next" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.the4thwheel.com" target="_blank">
                        <img src="img/logos/02.png" alt="The 4th Wheel" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.paxplay.in" target="_blank">
                        <img src="img/logos/03.png" alt="Pax Play" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.thefuturewear.com" target="_blank">
                        <img src="img/logos/04.png" alt="The Future Wear" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.crispygames.com" target="_blank">
                        <img src="img/logos/05.png" alt="Crispy Games" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.guildcap.com" target="_blank">
                        <img src="img/logos/06.png" alt="Guild Capital" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.getmanagly.com" target="_blank">
                        <img src="img/logos/managly.png" alt="Managly" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.yose.co.in" target="_blank">
                        <img src="img/logos/yose.png" alt="Yose" />
                    </a>
                </div>
            </div>
  
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.mandalagroup.org" target="_blank">
                        <img src="img/logos/mandala.png" alt="Mandala Group" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://www.facebook.com/blacktaxi/" target="_blank">
                        <img src="img/logos/blacktaxi.png" alt="Black Taxi" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.homestayz.in" target="_blank">
                        <img src="img/logos/homestayz.jpeg" alt="Homestayz" />
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="http://www.gifmos.com" target="_blank">
                        <img src="img/logos/gifmos.png" alt="Gifmos" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>