<section id="contact-info" class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6>Address</h6>
                    <p>
                        Of10, Prudential Ground Floor, Hiranandani Gardens, Powai, Mumbai
                    </p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-telephone"></i></div>
                    <h6>Call Us</h6>
                    <p>
                        <span>+91 9920290368</span><br />
                        <span>+91 9769640026</span><br />
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-email"></i></div>
                    <h6>Email</h6>
                    <p>
                        <a href="mailto:insider@of10.in">insider@of10.in</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>