<section id="contact" class="ptb ptb-sm-80">

    <div class="container">
        <h3 class="text-center">Contact us</h3>
        <div class="spacer-15"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6>Address</h6>
                    <p>
                        Madeira and Mime, Lake Blvd Rd, MHADA Colony 19, Powai, Mumbai, Maharashtra 400076
                    </p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-telephone"></i></div>
                    <h6>Call Us</h6>
                    <p>
                        <a href="tel:+919920290368 " class="dark-color" >
                            <i class="fa fa-phone left"></i>+91 9920290368
                        </a>
                        <br/>
                        <a href="tel:+919769640026" class="dark-color">
                            <i class="fa fa-phone left"></i>+91 9769640026
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-email"></i></div>
                    <h6>Email</h6>
                    <p>
                        <a class="dark-color" href="mailto:insider@of10.in">insider@of10.in</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>