 <!-- Pricing Section -->
<section id="pricing" class="ptb ptb-sm-80" style="background-color:#9C3739">
    <div class="container text-center">
        <h3 class="light-color">Pricing</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4 mtb-xs-30">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Monthly - Resident</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">20000</span></div>
                        <div class="price-tenure">per month</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>24 hr dedicated desk with storage</li>
                            <li>Mailing address</li>
                            <li>Free coffee / wifi</li>
                            <li>Access to pantry/restrooms</li>
                            <li>Access to breakout rooms</li>
                            <li>1 hour access to 10 person conference room</li>
                            <li>Free access to monthly member events</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="#apply">Apply Today</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mtb-xs-30">
                <div class="Pricing-box highlight">
                    <div class="price-title spacing-box">
                        <h4>Monthly - Community</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">17000</span></div>
                        <div class="price-tenure">per month</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>24 hr moving desk</li>
                            <li>Mailing address</li>
                            <li>Free coffee / Wifi</li>
                            <li>Access to pantry/restrooms</li>
                            <li>Access to breakout rooms</li>
                            <li>Free access to monthly member events</li>
                
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="#apply">Apply Today</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mtb-xs-30">
                <div class="Pricing-box highlight">
                    <div class="price-title spacing-box">
                        <h4>Monthly - Gallery</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">10000</span></div>
                        <div class="price-tenure">per month</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>Half day/night access or full day access for 16 days</li>
                            <li>Mailing address</li>
                            <li>Free Coffee / Wifi</li>
                            <li>Access to pantry/restrooms</li>
                            <li>Access as per availability to breakout/meeting rooms</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="#apply">Apply Today</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Daily</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">850</span></div>
                        <div class="price-tenure">per day</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>Full day moving desk (8 am to 7 pm)</li>
                            <li>Free Coffee / Wifi</li>
                            <li>Access to pantry/restrooms</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="https://app.quikwallet.com/#partner/203/850">Pay In Advance</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Meeting</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">2250</span></div>
                        <div class="price-tenure">per hour</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>10 person conference room access</li>
                            <li>Free Coffee / Wifi</li>
                            <li>Access to pantry/restrooms</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="https://app.quikwallet.com/#partner/203/2250">Pay In Advance</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Startup</h4>
                    </div>
                    <hr />
                    <div class="spacing-box">
                        <div class="price"><span class="price-sm">&#8377;</span><span class="price-lg">Negotiable</span></div>
                        <div class="price-tenure">per day/month</div>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>Moving Desk or Lounge area</li>
                            <li>Free Coffee / Wifi</li>
                            <li>Access to events</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="spacing-grid">
                        <a class="btn btn-md btn-black" href="#apply">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Section -->