<!-- Counter Section -->
    <section id="counter" class="light-color ptb-80" style="background-color:#9C3739" data-stellar-background-ratio="0.5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 mb-sm-30">
                    <h1 class="counter" data-count="65">0</h1>
                    <h6>Seats</h6>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <h1 class="counter" data-count="3">0</h1>
                    <h6>Meeting Rooms</h6>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <h1 class="counter" data-count="2">0</h1>
                    <h6>Events per week</h6>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <h1 class="counter" data-count="500">0</h1>
                    <h6>Startup Community Members</h6>
                </div>
            </div>
        </div>
    </section>
<!-- End Counter Section -->