    <!-- Footer -->
   <!--  <footer>
        <div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}  All Rights Reserved</p>
            <a href="https://drive.google.com/a/of10.in/file/d/0B5k2YC5bPeYHbUNCcW82bXJraEU/view?usp=sharing" target="_blank">House Rules</a>
        </div>
    </footer> -->

<!-- Scroll Top -->
<a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->


<footer id="footer" class="footer pt-80 light-color">
    <div class="container">
       
        <!--Footer Info -->
        <div class="row footer-info mb-60 light-color">
            <div class="text-center white">
                    <a class="logo" href="#home">
                        <span>OF10</span>
                    </a>
                    <div class="spacer-20">
                    <div>
                        Everything else is on us. You are free to change the world.
                    </div>
            </div>
        </div>
        <!-- End Footer Info -->
         <div class="row mb-60">
            <!-- Newsletter -->
            <div class=" text-center light-color">
                <div class="newsletter">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//of10.us10.list-manage.com/subscribe/post?u=cb789ede42b0e896da6067817&amp;id=705440a85e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="newsletter-input input-md newsletter-input mb-0" id="mce-EMAIL" placeholder="Subscribe for updates">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cb789ede42b0e896da6067817_705440a85e" tabindex="-1" value=""></div>
                            <button class="newsletter-btn btn btn-xs btn-white" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="fa fa-angle-right mr-0"></i></button>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <!-- End Newsletter -->

        </div>
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60 light-color">
        <div class="container">
            <p class="">
                © 2016 <a><b>OF10</b></a>. All Rights Reserved.
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->