<footer class="footer pt-80">
            <div class="container">
                <!-- <div class="row mb-60">
                    
                    <div class="col-md-3 col-sm-3 mb-xs-30">
                        <a class="logo_footer white" href="https://of10.in">
                            <span>OF10</span>
                        </a>
                    </div> -->
                    <!-- Logo -->

                    <!-- Newsletter -->
                    <!-- <div class="col-md-4 col-sm-5 mb-xs-30">
                        <div class="newsletter">
                            <form>
                                <input type="email" class="newsletter-input input-md newsletter-input mb-0" placeholder="Enter Your Email">
                                <button class="newsletter-btn btn btn-xs btn-white" type="submit" value=""><i class="fa fa-angle-right mr-0"></i></button>
                            </form>
                        </div>
                    </div> -->
                    <!-- End Newsletter -->

                    <!-- Social -->
                    <!-- <div class="col-md-3 offset-md-2 col-sm-4">
                        <ul class="social">
                            <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                            <li><a target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div> -->
                    <!-- End Social -->
                <!-- </div> -->
                <!--Footer Info -->
                <div class="row footer-info mb-60 light-color">
                    <div class="col-md-3 col-sm-12 mb-sm-30">
                         <a class="logo_footer white" href="https://of10.in">
                            <span>OF10</span>
                        </a>
                        <br>
                        <br>
                        <p class="mb-xs-0">Everything is on us. All you have to do is change the world.</p><br>
                        <ul class="social">
                            <li><a rel="nofollow"  href="https://www.facebook.com/workof10" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a rel="nofollow" href="https://instagram.com/workof10" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a rel="nofollow" href="https://www.twitter.com/workof10" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                        <!-- <a class="btn-link-a" href="about-1.html">Read More</a> -->
                    </div>
                    <div class="col-md-3 col-sm-6 mb-sm-30 mb-xs-0">
                        <ul class="link">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#apply">Book A Tour</a></li>
                            <li><a href="/partnerships/">Partnerships</a></li>
                            <li><a href="/events/">Events</a></li>
                            <li><a href="/press/">Press and Media</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-sm-30">
                        <ul class="link">
                            <li><a href="/learn/">Of10 Ed</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/contact/">Reach Us</a></li>
                            <li><a href="https://members.of10.in">Member Login</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <p>Prudential Ground Floor, Hiranandani Gardens, Powai, Mumbai - 400076</p>
                        <ul class="link-small">
                            <li><a href="mailto:yourname@domain.com"><i class="fa fa-envelope-o left"></i>work@of10.in </a></li>
                            <li><a><i class="fa fa-phone left"></i>+91 9920290368</a></li>
                            <li><a><i class="fa fa-phone left"></i>+91 9769640026</a></li>
                            <li><a><i class="fa fa-phone left"></i>+91 2262215191</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60 light-color">
                <div class="container">
                    <p class="">
                    © 2015-2017 <b>OF10®</b>. All Rights Reserved.
                    </p>
                    <a rel="nofollow" href="https://drive.google.com/a/of10.in/file/d/0B5k2YC5bPeYHbUNCcW82bXJraEU/view?usp=sharing" target="_blank">House Rules</a>
                    </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>