<!-- Scroll Top -->
<a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->

<footer id="footer" class="footer pt-80 background--dark light-color">

    <div class="container">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{clear:left; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="//of10.us15.list-manage.com/subscribe/post?u=0ab41047ea166295832022ba9&amp;id=ef92461434" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label class="para-insider white" for="mce-EMAIL">Subscribe to our mailing list</label>
          <input type="email" value="" name="EMAIL" class="input-sm form-half" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ab41047ea166295832022ba9_ef92461434" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xs btn-color-a"></div>
            </div>
        </form>
      </div>
      <br/>
        <div class="row text-center">
            <a class="logo_footer white" href="https://of10.in">
                <span>OF10</span>
            </a>
        </div>
        <br/>
        <div class="row text-center slogan">
            <p>Everything is on us. All you have to do is change the world.</p>
        </div>
        <br/>
        <div class="text-center mb-45">
            <ul class="list-none social">
                <li><a  href="https://www.facebook.com/workof10" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/workof10" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.twitter.com/workof10" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

    <hr/>
    <!-- Copyright Bar -->
    <section class="copyright ptb-60 light-color">
        <div class="container">
            <p class="">
                © 2015-2017 <a href="https://of10.in"><b>OF10</b></a>. All Rights Reserved.
            </p>
            <a href="https://drive.google.com/a/of10.in/file/d/0B5k2YC5bPeYHbUNCcW82bXJraEU/view?usp=sharing" target="_blank">House Rules</a>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->
