 <!-- Work Section -->
<section id="gallery" class="wow fadeIn pt pt-sm-80 text-center" style="background-color:#fadadd">
    <div class="container">
        <h3>Gallery</h3>
        <div class="spacer-30"></div>
        <!-- work Filter -->
        <div class="row">
            <ul class="container-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".workstations">Workstations</a></li>
                <li><a class="categories" data-filter=".conference">Meeting Rooms</a></li>
                <li><a class="categories" data-filter=".pantry">Pantry/Cafe</a></li>
                <li><a class="categories" data-filter=".common">Common Areas</a></li>
            </ul>
        </div>
        <!-- End work Filter -->
    </div>
    <!-- Work Gallary -->
    <div class="container-fluid ">
        <div class="row">
            <div class="container-grid nf-col-3">

                <div class="nf-item workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/entrance_view.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/entrance_view_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">SEATING</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item common conference">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/reception1.jpg" title="Reception">
                            <img class="item-container" src="img/gallery/reception1_thumb.jpg" alt="Reception Lounge" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">RECEPTION</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item common conference">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/reception2.jpg" title="Telephone Room">
                            <img class="item-container" src="img/gallery/reception2_thumb.jpg" alt="Telephone Room" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">TELEPHONE BOOTH</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item pantry">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/pantry.jpg" title="Pantry">
                            <img class="item-container" src="img/gallery/pantry_thumb.jpg" alt="Pantry" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">PANTRY</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item conference">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/conference_room.jpg" title="Nullam quis ant">
                            <img class="item-container" src="img/gallery/conference_room_thumb.jpg" alt="Conference Room" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">CONFERENCE</h5>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/fixed_desk1.jpg" title="Fixed Seating">
                            <img class="item-container" src="img/gallery/fixed_desk1_thumb.jpg" alt="Fixed Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">FIXED SEATING</h5>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/fixed_desk2.jpg" title="Fixed Seating">
                            <img class="item-container" src="img/gallery/fixed_desk2_thumb.jpg" alt="Fixed Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">FIXED SEATING</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/night.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/night_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">COMMUNITY SEATING</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item common workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/events1.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/events1_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">COMMUNITY SEATING</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/events2.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/events2_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">COMMUNITY SEATING</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="nf-item common workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/events3.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/events3_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">EVENTS AREA</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="nf-item common workstations">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/events4.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/events4_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">EVENTS AREA</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="nf-item common conference">
                    <div class="item-box">
                        <a class="cbox-gallary1" href="img/gallery/dog_room.jpg" title="Community Seating">
                            <img class="item-container" src="img/gallery/dog_room_thumb.jpg" alt="Community Seating" />
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">BREAK OUT</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
        <!-- End Work Section -->