<!-- Intro Section -->
<section class="full-screen-intro" id="welcome">
    <!-- Bg Image -->
    <div class="media-wapper cont-h-100per"></div>
    <!-- End Bg Image -->

    <!-- Content -->
    <div class="full-cap-wraper overlay-dark light-color">
        <div class="content-caption light-color parallax parallax-opacity">
            <div class="container">
                <h3>Work</h3>
                <h1 itemprop="name" class="h2">Of10</h1>
                <div class="row">
                    <p class="lead col-md-6 col-md-offset-3">Of10 was created with the goal of reflecting the innovative and entrepreneurial nature of its home, Powai. It is our mission to channel the energies of a dynamic co-working space into community-based growth.</p>
                    
                </div>
                <div>
                    <a href="#apply" class="btn btn-md btn-white-line">Become a Member</a>
                    <span class="btn-space-10"></span>
                    <a href="#about" class="btn btn-md btn-white">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro Scroll Down -->
    <div class="intro-scroll-down">
        <a class="scroll-down" href="#about">
            <span class="mouse">
                <span class="mouse-dot"></span>
            </span>
        </a>
    </div>
    <!-- End Content -->
</section>