 <!-- Intro Section -->
<section class="full-screen-intro light-bg">
   
    <!-- Hero Slider Section -->
    <div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
         <ul class="slides">
            <li>
                <div class="overlay-hero">
                    <div class="container caption-hero">
                        <div class="inner-caption">
                            <div class="col-sm-12">
                                <img class="img-responsive" src="/img/of10.gif"> 
                            </div>
                            <br>
                            <div>
                                <a href="#apply" class="btn btn-md btn-color-a">Book a Tour</a>
                                <span class="btn-space-10"></span>
                                <a href="#about" class="btn btn-md btn-color-a">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


        
</section>