 <!-- Intro Section -->
<section id="home" class="full-screen-intro pt" id="home">
    <div class="full-cap-wraper">
        <div class="content-caption light-color parallax parallax-opacity">
            <div class="container">
                <div class="row text-center">
                    <!-- <div class="col-md-12 text-center">
                      <a class="dark-color" href="mailto:work@of10.in">
                          <i class="fa fa-envelope-o left"></i>work@of10.in
                      </a>
                    </div> -->
                    <div class="col-md-12">
                      <img data-src="/img/of10.gif" class="responsive" src="/img/of10-smaller.gif" width="1200" height="400">
                      </img>
                         <!-- <div class="img-responsive home-gif"></div> -->

                         <!-- <img class="img-responsive" style="margin: 0 auto;" src="/img/of10.gif">  -->
                         <div class="spacer-60"></div>
                         <div>
                            <a href="#apply" class="btn btn-md btn-color-a">Book a Tour</a>
                            <span class="btn-space-10"></span>
                            <a href="#about" class="btn btn-md btn-color-line">Learn More</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
