<section class="full-screen-intro" id="welcome">
    <!-- Bg Image -->
    <div class="media-wapper home-insider-background cont-h-100per"></div>
    <!-- End Bg Image -->

    <!-- Content -->
    <div class="full-cap-wraper overlay-dark light-color">
        <div class="content-caption light-color parallax parallax-opacity">
            <div class="container">
                <h1 class="h1-insider">INSIDER.</h1>
                <div class="row">
                    <p class="para-insider col-md-6 col-md-offset-3">
                        Of10 Insider gives you access to a network of beautiful spaces with everything you need to work,
                        meet and recharge as often as you like.
                    </p>
                </div>
                <br>
                <div><a href="#amenities" class="btn btn-md btn-white-line xs-hidden">How it works</a>
                    <span class="btn-space-10 xs-hidden"></span>
                    <a href="http://madmime.skedda.com" class="btn btn-md btn-white">Find a spot</a></div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Intro Scroll Down -->
    <div class="intro-scroll-down">
        <a class="scroll-down" href="#about">
                    <span class="mouse">
                        <span class="mouse-dot"></span>
                    </span>
        </a>
    </div>
    <!-- End Intro Scroll Down -->
</section>