 <!-- Intro Section -->
<section id="home" class="full-screen-intro pt">
    <div class="full-cap-wraper">
        <div class="content-caption light-color parallax parallax-opacity">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                      <a href="#explore">
                        <video class="responsive" width="95%" height="95%" autoplay="" loop="" muted="muted">
                          <source type="video/mp4" src="https://res.cloudinary.com/of10/image/upload/v1496831451/of10-old_cmauar.mp4">
                        </video>
                        <!-- <img alt="Coworking Office Space" class="responsive" src="https://res.cloudinary.com/of10/image/upload/v1496830037/of10_a7owdb.mp4" width="1200" height="400"> -->
                      </a>
                      <div class="spacer-60"></div>
                      <div>
                        <a href="#apply" class="btn btn-md btn-color-a homebutton">Join Us</a>
                        <span class="btn-space-10"></span>
                        <a href="#explore" class="btn btn-md btn-color-line homebutton">Learn More</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
