<!-- Amenities Section -->

<section id="howitworks" class="wow fadeIn ptb ptb-sm-80">

        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Easy Check In</h3>
                        <div class="spacer-15"></div>
                        <p class="para-insider">Every time you walk into Of10 Insider, you’ll be greeted by a friendly host and prompted to check in at the kiosk up front.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Your Home Away from Home</h3>
                        <div class="spacer-15"></div>
                        <p class="para-insider">We get you the best seat in the house.
                            It’s like your favourite café, but with fewer distractions and (much) faster WiFi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="spacer-30"></div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Community & collaboration</h3>
                        <div class="spacer-15"></div>
                        <p class="para-insider">
                            All of our locations have plenty of room for you to work with other team members,
                            and our guest policy makes it easy to invite people to the “office” — their first hour is free,
                            and after that you’ll be charged INR 100/hr (maxing out at the day rate of INR 400)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="spacer-30"></div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Ideal for daily or weekly work</h3>
                        <div class="spacer-15"></div>
                        <p class="para-insider">You’ll notice pretty quickly that there’s no single type of Insider.
                            That’s because, we give you the freedom and flexibility to use your membership how you want,
                            when you want. Freelance artists, business travellers, and small startup teams all love working here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="spacer-30"></div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Supporting local businesses</h3>
                        <div class="spacer-15"></div>
                        <p class="para-insider">
                            We only partner with socially responsible restaurants.
                            Our partnerships with these restaurants help ensure that they can make use of their large dining rooms even
                            during off hours, and having Of10 locations in the neighbourhood drives traffic to lunch spots in the area.
                            It’s a sustainable solution to using space as efficiently as possible in dense urban areas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="spacer-30"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <a href="http://madmime.skedda.com" class="btn btn-md btn-black ">Book Now</a>
        </div>
    </div>

</section>
<!-- End Service Section -->