<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Locations</h3>
        <div class="spacer-60"></div>
        <!-- work Filter -->
        <!--<div class="row">-->
            <!--<ul class="container-filter categories-filter dark-color mb-0">-->
                <!--<li><a class="categories dark-color active" data-filter="*">All</a></li>-->
                <!--<li><a class="categories dark-color" data-filter=".restaurants">Restaurants and Bars</a></li>-->
                <!--<li><a class="categories dark-color" data-filter=".coworking">Coworking Spaces</a></li>-->
                <!--<li><a class="categories dark-color" data-filter=".offices">Offices</a></li>-->
                <!--<li><a class="categories dark-color" data-filter=".conference">Conference Rooms</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!-- End work Filter -->
    </div>
    <!-- Work Gallary -->
    <div class="container">
        <div class="row container-grid nf-col-1">
            <div class="nf-item restaurants">
                <div class="item-box-location">
                    <a class="cbox-gallary1" href="http://www.madeiraandmime.com" title="Madeira and Mime">
                        <img class="item-container-location" src="img/locations/madmime.jpg" alt="1" />
                        <div class="item-mask">
                            <div class="item-caption">
                                <h2 class="white">Madeira and Mime</h2>
                                <p class="para-insider white">Open seating, plug points, high speed internet, coffee</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--<div class="nf-item coworking offices">-->
                <!--<div class="item-box-location">-->
                    <!--<a class="cbox-gallary1" href="http://www.of10.in" title="Of10">-->
                        <!--<img class="item-container-location" src="img/locations/of10.png" alt="2" />-->
                        <!--<div class="item-mask">-->
                            <!--<div class="item-caption">-->
                                <!--<h2 class="white">Of10</h2>-->
                                <!--<p class="para-insider white">Open seating, Conference room, plug points, high speed internet, Unlimited free beverages</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</section>