<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <div class="logo-insider">
            <a href="#home">
                <span>OF10</span>
                <div class="insider">Insider</div>
            </a>
        </div>
        <!--End logo-->
        <!-- Navigation Menu -->
        <nav class="navigation singlepage-nav">
            <ul class="white">
                <li>
                    <a href="#home">Home</a>
                </li>

                <li>
                    <a href="#howitworks">How It Works</a>
                </li>
                <li>
                    <a href="#perks">Perks</a>
                </li>
                <li>
                    <a href="#locations">Locations</a>
                </li>
            </ul>
        </nav>
        <!--End Navigation Menu -->
    </div>
</header>
<!-- END HEADER -->