<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <img class="logo responsive pull-left" height="100%" width="150px" alt="Oftn Mag" src="/img/oftn-mag-logo-no-background.png">
        <!-- <div class="logo">
            <a href="#home">

            </a>
        </div> -->
        <!--End logo-->

        <!-- Navigation Menu -->
         <div class="hamburger-btn" >
            <a id="nav-toggle" onclick="toggleOverlay()">
                <span>
                </span>
            </a>
        </div>
        <!--End Navigation Menu -->
    </div>
</header>
<!-- END HEADER -->
