<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <div class="logo-insider">
            <a href="#home">
                <span>OF10</span>
                <div class="insider">Insider</div>
            </a>
        </div>
        <!--End logo-->
        <!-- Navigation Menu -->
        <div class="hamburger-btn-insider">
            <a id="nav-toggle" onclick="toggleOverlay()">
                <span>
                </span>
            </a>
        </div>
        <!--End Navigation Menu -->
    </div>
</header>
<!-- END HEADER -->