<!-- Sidemenu -->
<section id="navigation" class="overlay">
    <div class="overlay-content">
        <a href="https://of10.in/#home" onclick="toggleOverlay()">Home.</a>
        <a href="https://of10.in/#apply" onclick="toggleOverlay()">Book a Tour.</a>
        <a href="https://of10.in/events" onclick="toggleOverlay()">Events.</a>
        <a href="https://of10.in/ed" onclick="toggleOverlay()">Classes and Workshops.</a>
        <a href="https://oftn.co/" onclick="toggleOverlay()">Oftn Magazine.</a>
        <a href="https://of10.in/insider" onclick="toggleOverlay()">Insider.</a>
        <a href="https://of10.in/contact" onclick="toggleOverlay()">Reach Us.</a>
    </div>
</section>
<!--End Sidemenu -->
