<!-- Sidemenu -->
<section id="navigation" class="overlay">
    <div class="overlay-content">
        <a href="https://of10.in/#home" onclick="toggleOverlay()">Home.</a>
        <a href="https://of10.in/#apply" onclick="toggleOverlay()">Book a Tour.</a>
        <a href="https://members.of10.in/" onclick="toggleOverlay()">Member Login.</a>
        <a href="https://of10.in/press/" onclick="toggleOverlay()">Press and Media.</a>
        <a href="https://of10.in/events/" onclick="toggleOverlay()">Events.</a>
        <a href="https://of10.in/learn/" onclick="toggleOverlay()">Of10 Ed.</a>
        <a href="https://of10.in/blog/" onclick="toggleOverlay()">Blog.</a>
        <a href="https://of10.in/partnerships/" onclick="toggleOverlay()">Partnerships.</a>
        <a href="https://of10.in/contact/" onclick="toggleOverlay()">Reach Us.</a>
    </div>
</section>
<!--End Sidemenu -->
