<!-- Sidemenu -->
<section class="overlay overlay-data">
    <a class="overlay-close"><i class="ion ion-android-close"></i></a>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#amenities">Amenities</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#apply">Apply</a></li>
            <li><a href="#footer">Reach Us</a></li>
        </ul>
    </nav>
</section>
<!--End Sidemenu -->