<!--About Section-->
<section id="perks" class="wow fadeIn ptb ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4">Perks</h2>
                <div class="spacer-15"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="flaticon-three-men-conference"></i></div>
                        <h5>Balance shareable amongst friends</h5>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="flaticon-coffee-machine"></i></div>
                        <h5>Unlimited Bottom-Less Coffee</h5>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="flaticon-calendar"></i></div>
                        <h5>Complimentary Locker Access</h5>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="flaticon-money"></i></div>
                        <h5>15-20% Discount on Food</h5>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 mb-45">-->
                        <!--<div class="page-icon-top"><i class="flaticon-money"></i></div>-->
                        <!--<h5>One Hour Free Meeting Room Access @ Of10</h5>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->