<!--About Section-->
<section id="perks" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="h4">Perks</h2>
                <div class="spacer-15"></div>
                <p class="para-insider">
                    <span>Hours / Credit Balance shareable amongst friends</span><br/>
                    <span>Unlimited Bottom-Less Coffee<span><br/>
                    <span>Complimentary Locker Access</span><br/>
                    15% Discount on Food<br/>
                    One Hour Free Meeting Room Access @ Of10<br/>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->