<div id="sidebar-wrapper">
   <ul class="sidebar-nav">
      <li class="sidebar-brand"></li>
      <li class="hvr-underline-from-left ">
         <a href="/" class="scroll" scrollDiv="#home">Home</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/#apply" class="scroll" scrollDiv="#apply">Book A Tour</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/partnerships/" >Partnerships</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/events/" >Events</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/press/" ">Press and Media</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/learn/" ">Of10 Ed</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/blog/" class="">Blog</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="/contact/" class="">Reach Us</a>
      </li>
      <li class="hvr-underline-from-left">
         <a href="https://members.of10.in" class="">Member Login</a>
      </li>
            </ul>
        </div>