<div id="sidebar-wrapper">
   <ul class="sidebar-nav">
      <li class="sidebar-brand"></li>
      <li class="hvr-underline-from-left ">
         <a title="of10-home" href="/" class="scroll" scrollDiv="#home">Home</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10 book a tour" href="/#apply" class="scroll" scrollDiv="#apply">Book A Tour</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="Pay Invoice" target="/blanck" href="/pay" class="">Make Payment</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-partnership" href="/partnerships/" >Partnerships</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-events" href="/events/" >Events</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-press" href="/press/" ">Press and Media</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-ed" href="/learn/" ">Of10 Ed</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-blogs" href="/blog/" class="">Blog</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of10-contact" href="/contact/" class="">Reach Us</a>
      </li>
      <li class="hvr-underline-from-left">
         <a title="of0-member login" target="/blanck" href="https://members.of10.in" class="">Member Login</a>
      </li>
      
            </ul>
        </div>