<section id="gallery" class="pt pt-sm-80">
    <div class="container-fluid text-center">
        <h3 class="gallery-heading">Inside Of10</h3>
        <div class="spacer-30"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel image-slider o-flow-hidden">
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="community space mumbai" src="img/gallery/of10-lobby.webp" data-defer-src="img/gallery/of10-lobby.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="workspace of10 mumbai" src="img/gallery/of10-front-area.webp" data-defer-src="img/gallery/of10-front-area.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="one day pass office" src="img/gallery/of10-office.webp" data-defer-src="img/gallery/of10-office.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="food hall" src="img/gallery/of10-office-view.webp" data-defer-src="img/gallery/of10-office-view.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="conference room on rent" src="img/gallery/of10-shared-office.webp" data-defer-src="img/gallery/of10-shared-office.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="seminars space mumbai" src="img/gallery/of10-work-bench.webp" data-defer-src="img/gallery/of10-work-bench.webp"/>
                    </div>
                    <div class="item">
                        <img height="800" width="1200" loading="lazy" alt="coworking office space powai" src="img/gallery/of10-work-spaces.webp" data-defer-src="img/gallery/of10-work-spaces.webp"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mtb-60 mtb-xs-30">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 mb-30 text-center">
                        <h5 class="editable">Powai just got a lot cooler...</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>