 <!-- Social Section -->
<section id="follow" class="ptb ptb-sm-80" style="background-image: url('../img/people.jpg');">

    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 light-color">
                <h3>Follow the OF10 movement</h3>
            </div>
        </div>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="page-icon-top">
                            <a class="link white" target="_blank" href="https://www.twitter.com/workof10"><i class="ion ion-social-twitter white"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="page-icon-top">
                            <a class="link white" target="_blank" href="https://www.facebook.com/workof10"><i class="ion ion-social-facebook white"></i></a>
                        </div>
                        
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="page-icon-top">
                            <a class="link white" target="_blank" href="https://www.linkedin.com/company/7324157"><i class="fa fa-linkedin white"></i></a>
                        </div>
                       </h6>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="page-icon-top">
                            <a class="link white" target="_blank" href="https://www.instagram.com/workof10"><i class="ion ion-social-instagram white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>