<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "OF10",
  "url" : "http://of10.in",
  "logo" : "http://of10.in/img/logo.png",
  "sameAs" : [
    "http://www.facebook.com/workof10",
    "http://www.twitter.com/workof10",
    "http://plus.google.com/+Of10in",
    "http://instagram.com/workof10"
  ],
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+91-9920290368",
      "contactType" : "Sales"
    },
    { "@type" : "ContactPoint",
      "telephone" : "+91-9769640026",
      "contactType" : "Sales"
    }
  ] 
}


</script>