<!-- Testimonials Slider -->
<section class="dark-bg ptb-60 ptb-sm-80"  data-stellar-background-ratio="0.5">
    <div class="container">
        <h3 class="text-center">Want to hear what other people are saying.</h3>
        <div class="spacer-30"></div>
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <img src="/img/members/nitesh.jpg" class="img-circle" style="width:150px!important; height: 150px;">
                    <p class="lead">" So after owning an office for 6 years, I came to OF10 on my friend's request. Apart from the amazing location, I found awesome people with out of this world energy which I was missing at my earlier venue. My office costs are down by 50% and now able to focus on my core business.Thanks to OF10, I need not worry about non revenue generating aspects of work. "</p>
                    <h6 class="quote-author">Nitesh Gawade <span style="font-weight: 400;">( Author and Founder, EDIFY Labs )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <img src="/img/members/keerthi.jpg" class="img-circle" style="width:150px!important; height: 150px;">
                    <p class="lead">" Of10 is creatively designed and beautiful workspace, in a secured building along with convenient access, It has a prestigious location.Staff is extremely friendly. It's the best place for entrepreneurs! I was highly impressed on my first visit to the place.It has a great office culture and a great opportunity to take your business to the next level! "</p>
                    <h6 class="quote-author">Keerthi Ravikumar <span style="font-weight: 400;">( Spacifii, Co Founder and Design Head )</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Slider -->
