<section id="whyof10" class="wow fadeInUp pt pt-sm-80 text-center" style="background-color:#f7f7f7">
<div class="container">
    <h3 class="h4 amenities-heading">Why Of10?</h3>
    <div class="spacer-30"></div>
    <div class="row">
        <ul class="col container-filter categories-filter">
            <!-- <li><a class="categories active" data-filter="*">All</a></li> -->
            <li>
              <a class="color categories active" data-filter=".location,.photo">
                <div class="whyof10-icon">
                  <i class="ion ion-ios-location-outline"></i>
                </div>
                Location
              </a>
            </li>
            <li>
              <a class="color categories" data-filter=".price,.photo">
                <div class="whyof10-icon">
                  <i class="ion ion-social-usd-outline"></i>
                </div>
                Affordability
              </a>
            </li>
            <li>
              <a class="color categories" data-filter=".network,.photo">
                <div class="whyof10-icon">
                  <i class="ion ion-network"></i>
                </div>
                Network
              </a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col container-grid nf-col-2">
            <div class="nf-item location">
                <div class="item-box">
                    <img class="img-container full-width" src="img/brickwall/location.png" alt="Best location in Powai" />
                </div>
            </div>
            <div class="nf-item location" style="background-color:#DEA5A4">
                <div class="item-box">
                  <div class="spacer-15"></div>
                  <h4 class="content-title">
                    #1 The first rule of Real Estate is
                  </h4>
                  <!-- <div class="spacer-15"></div> -->
                  <p class="para-whyof10">Location, Location, Location. And boy have we got you covered</p>
                  <div class="spacer-15"></div>
                  <ul class="list-inside">
                    <li class="para-whyof10">Premium Grade A Building? <i class="ion ion-checkmark"></i></li>
                    <li class="para-whyof10">Sophisticated Infrastructure and Amenities? <i class="ion ion-checkmark"></i> </li>
                    <li class="para-whyof10">Premium and affordable housing for your employees? <i class="ion ion-checkmark"></i></li>
                    <li class="para-whyof10">Pubs, Restaurants across the road? <i class="ion ion-checkmark"></i></li>
                    <li class="para-whyof10">Supply of the best talent in Bombay?<i class="ion ion-checkmark"></i></li>
                  </ul>
                  <p class="para-whyof10">
                    Literally, nothing beats our location, not even Mumbai’s Central Business District, BKC.
                  </p>
                  <p class="para-whyof10">Not convinced?
                    <a class="white" href="#apply">Come visit</a>, a little less conversation a little more action.
                  </p>
                </div>
            </div>

            <div class="nf-item price" style="background-color:#779ecb">
                <div class="item-box">
                  <div class="spacer-15"></div>
                  <h4 class="content-title">
                    #2 Price - You guys are too cool to be affordable!
                  </h4>
                  <div class="spacer-15"></div>
                  <p class="para-whyof10">While we are glad you feel that way, the idea behind Of10 is to make setting up a business affordably, easy as pie.</p>
                  <p class="para-whyof10">Not only are we cheaper; here is the list of things we offer, that you can’t put a price on:
                  <div class="spacer-15"></div>
                  <ul class="list-inside">
                      <li class="para-whyof10">Flexibility. No long term contracts.</li>
                      <li class="para-whyof10">No set-up or administration costs or headaches</li>
                      <li class="para-whyof10">Weekly community events</li>
                      <li class="para-whyof10">Access to business services</li>
                      <li class="para-whyof10">A community of high quality people</li>
                  </ul>
                  <div class="spacer-30"></div>
                </div>
            </div>
            <div class="nf-item price">
              <div class="spacer-15"></div>
                <div class="item-box">

                    <p class="para-insider">We even conjured up this handy graph to show you how in-expensive of10 is compared to getting your own personal office space.</p>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-3">
                        <img class="img-responsive" src="img/brickwall/graph.png" alt="Much cheaper than an office space" />
                      </div>
                    </div>
                </div>
            </div>
            <div class="nf-item network">
                <div class="item-box">
                    <img class="img-responsive full-width" src="img/brickwall/storytelling.png" alt=""/>
                </div>
            </div>

            <div class="nf-item network" style="background-color:#E8705D">
                <div class="item-box">
                  <div class="spacer-15"></div>
                  <h4 class="content-title">
                    #3 You are who you know.
                  </h4>
                  <div class="spacer-15"></div>
                  <p class="para-whyof10">At Of10, we don’t just let anyone walk in through the door.</p>
                  <div class="spacer-15"></div>
                  <p class="para-whyof10">
                    What is the point of working out of a SHARED workspace if you don’t interact with anyone else in the space?
                    We are an extremely small curated workspace.
                  </p>
                  <p class="para-whyof10">We believe in quality over quantity and strive to get a close knit, powerful community together.
                    We vet every single applicant, personally.
                  </p>
                  <p class="para-whyof10">
                    We are <a class="white" href="/community">NOT</a>
                    a factory of people, we are <a class="white" href="/press/#faqs">NOT</a> main-stream and we
                    <a class="white" href="/apply/">ARE</a> what you are looking for.
                  </p>
                  <div class="spacer-15"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Work Section -->
