<section id="event-booking" class="pt pt-sm-80" style="background-color:#f7f7f7">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Book our Event Space</h2>
            <p>We rent space for workshops, meetups, conferences, hackathons and product launches. Contact us below</p>
        </div>
    </div>
    <div class="spacer-30"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 mb-45">
            <!-- Contact FORM -->
                <form id="contactform" method="POST">
                <!-- IF MAIL SENT SUCCESSFULLY -->
                <h6 class="successContent">
                    <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                </h6>
                <h6 class="errorContent">
                    <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                </h6>
                <!-- END MAIL SENDING UNSUCCESSFULL -->

                <div class="form-field-wrapper">
                    <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required autocomplete="name">
                </div>

                <div class="form-field-wrapper">
                    <input class="input-sm form-full" id="form-company" type="text" name="form-company" placeholder="Company's Name">
                </div>

                <div class="form-field-wrapper">
                    <input class="input-sm form-full" id="form-contact-number" type="text" name="form-contact-number" placeholder="Your Contact Number" required autocomplete="tel">
                </div>

                <div class="form-field-wrapper">
                    <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Your Email" required autocomplete="email">
                </div>

                <div class="form-field-wrapper">
                    <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Your event requirements - number of seats, date, duration, catered food, audio-visual-setup" required></textarea>
                </div>

                <input type="text" name="_gotcha" style="display:none" />
                <button class="btn btn-md btn-color-a form-full" type="submit" id="form-submit" name="submit">Send</button>
            </form>
            <!-- END Contact FORM -->
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{clear:left; width:100%;}
      </style>
      <div id="mc_embed_signup">
        <form action="//of10.us15.list-manage.com/subscribe/post?u=0ab41047ea166295832022ba9&amp;id=ef92461434" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label class="para-insider dark-color" for="mce-EMAIL">Subscribe to our mailing list for updates on events</label>
          <input type="email" value="" name="EMAIL" class="input-sm form-half" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ab41047ea166295832022ba9_ef92461434" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xs btn-color-a"></div>
            </div>
        </form>
      </div>
    </div>
    <script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'work' + '@' + 'of10' + '.' + 'in');
    </script>
</section>
