<!-- Scroll Top -->
<a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->

<footer id="footer" class="footer pt-80 background--dark light-color">
    <div class="container">
        <div class="row text-center">
          <a class="logo_footer white" href="https://of10.in/">
              <span>OF10</span>
          </a>
        </div>
        <br/>
        <div class="row text-center slogan">
            <p>Everything is on us. All you have to do is change the world.</p>
        </div>
        <div class="text-center mb-45">
            <ul class="list-none social">
                <li><a  href="https://www.facebook.com/workof10" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/workof10" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.twitter.com/workof10" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

    <hr/>
    <!-- Copyright Bar -->
    <section class="copyright ptb-60 light-color">
        <div class="container">
            <p class="">
                © 2015-2017 <a href="https://of10.in/"><b>OF10</b></a>. All Rights Reserved. <a href="https://of10.in/"><b>OF10</b></a>. All Rights Reserved.
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->
