<!-- HEADER -->
<header class="header">
    <div class="container">
      <!-- logo -->
      <div class="logo">
          <a href="https://of10.in/">
              <span>OF10</span>
          </a>
      </div>
      <!--End logo-->
        <!-- Navigation Menu -->
         <div class="hamburger-btn" >
            <a id="nav-toggle" onclick="toggleOverlay()">
                <span>
                </span>
            </a>
        </div>
        <!--End Navigation Menu -->
    </div>
</header>
<!-- END HEADER -->
