<section class="inner-intro bg-img8 light-color overlay-dark parallax parallax-half"
style="background-image: url('/img/posts/{{page.header_image}}'); background-size: cover;">
    <div class="container">
        <div class="row title">
            <h1 class="h2">{{page.title}}</h1>
            <div class="page-breadcrumb">
                <a class="dark-color" href="https://of10.in">Home</a>/<a class="dark-color" href="https://of10.in/blog">Blog</a>/<span>{{ page.title }}</span>
            </div>
        </div>
    </div>
</section>
<section class="ptb ptb-sm-80 ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-2"></div>
            <!-- Post Bar -->
            {% assign author = site.authors[page.author] %}
            <div class="col-lg-8  blog-post-hr ">
                <div class="blog-post mb-30">
                    <div class="post-meta">
                        <span>{{page.date | date: '%B %d, %Y'}}</span>
                    </div>
                    <div class="post-entry dark-color">
                        <br/>
                        {{ content }}
                    </div>
                    <div class="post-media text-center">
                        {% include image.html name=page.post_image caption=page.image_caption %}
                    </div>
                    <div class="post-tag pull-left">
                        <span><a>{{page.tags}}</a></span>
                    </div>
                    <hr />
                    <div class="post-author">
                        <div class="post-author-img pull-left">
                            <img alt="author" src="/img/authors/{{author.pic}}">
                        </div>
                        <div class="post-author-details pull-left">
                            <h6>{{author.display_name}}</h6>
                            <ul class="social dark-color">
                                <li><a class="dark-color" href="https://www.facebook.com/{{author.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="dark-color" href="https://www.twitter.com/{{author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<!-- Post Next Prev Bar -->
<section class="mb-60">
    <div class="container">
        <div class="item-nav">
            {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="item-prev">
                <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                <div class="item-prev-text xs-hidden">
                    <h6>Prev Post</h6>
                </div>
            </a>
            {% endif %}
            <a href="https://of10.in/blog/" class="item-all-view">
                <h6>Main Page</h6>
            </a>
            {% if page.next.url %}
            <a href="{{page.next.url}}" class="item-next">
                <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                <div class="item-next-text xs-hidden">
                    <h6>Next Post</h6>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</section>
<!-- End Post Next Prev Bar -->
