<!-- Service Section -->
<section id="amenities" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container-fluid text-center">
        <h3 class="h4 amenities-heading">It’s All Included</h3>
        <p class="lead">
           We’ve made it easy for you by providing everything you need (space, furniture, technology, food, and staff) into one fully-transparent price – all before your program even takes place.
        </p>
        <div class="spacer-60"></div>
        <div class="row editable">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-clock"></i></div>
                <h4 class="h5">Flexible Contemporary Spaces</h4>
                <p class="lead">That both your boss & attendees will love</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-wifi"></i></div>
                <h4 class="h5">Planning and Production Support</h4>
                <p class="lead">To make your 'day-of' headache-free</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-first-commercial-phone"></i></div>
                <h4 class="h5">Gourmet Cuisine</h4>
                <p class="lead">
                  That's all included - no additional vendors or contracts
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-three-men-conference"></i></div>
                <h4 class="h5">Hi-speed Wifi</h4>
                <p class="lead">
                20 Mbps per second standard wifi speeds for all your participants</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-coffee-machine"></i></div>
                <h4 class="h5">State-of-the-art Technology</h4>
                <p class="lead">The latest AV/IT equipment - Projectors, TV Displays, Wireless Mics - all supported by our on ground technology staff</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-calendar"></i></div>
                <h4 class="h5">Outcomes to be Proud of</h4>
                <p class="lead">
                Happy people, seamless and anxiety free and on-budget</p>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
