<!-- Intro -->
<section id="intro" class="ptb ptb-sm-80">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Elevate your meeting experience</h1>
                <p class="lead">Break the mold in a bold conference space, or host an epic celebration in an ultra-sleek venue. No matter the occasion, events at Of10 are anything but expected.</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>

    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>

<!-- Intro -->
<section id="intro2" class="ptb ptb-sm-80">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Meetings Remixed</h1>
                <p class="lead">Of10 revamps the traditional bored-room with energetic spaces designed to spark imagination and set minds racing. Looking for something outside the expected? Check out spaces like the Hustle, fully equipped screening rooms and more to get your attendees thinking beyond the conference room.</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>

    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>
<!-- Intro -->
<section id="intro3" class="ptb ptb-sm-80">

    <div class="container">
        <div class="row">
          <div class="col-md-6">
          </div>
            <div class="col-md-6">
                <h1>SPECIAL EVENTS</h1>
                <p class="lead">Fashion shows. Launch events. Release parties. Whatever you’re unveiling, screening, or celebrating, we’re here to make it a moment. Our special events experts are on hand to style, coordinate and innovate, helping you pull off anything, anytime.</p>
            </div>
        </div>

    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>
