<!-- Service Section -->
<section id="clients" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container-fluid text-center">
        <h2 class="h4 meetings-title2">Some of the clients Of10 has worked with</h2>

        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="client-logo">
                  <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/kelloggs.png" alt="Kelloggs" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/redbull.png" alt="Red Bull" />
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/maersk.png" alt="Maersk" />
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="client-logo">
                  <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/ykone.png" alt="YKone" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/uber.png" alt="Uber" />
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/googledevelopers.png" alt="Google Developers" />
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/hdfclife.png" alt="HDFC Life" />
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
              <div class="client-logo">
                <img src="/img/icons/icon-72x72.png" data-defer-src="/img/meetings/clients/zoho.png" alt="Zoho" />
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="client-logo">
                  <h2 class="meetings-amenity-title">
                  and many more....
                </h2>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
