<!-- Service Section -->
<section id="clients" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container-fluid text-center">
        <h3 class="h4 meetings-title2">Some of the clients Of10 has worked with</h3>

        <div class="spacer-60"></div>
        <div class="row editable">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-clock"></i></div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-wifi"></i></div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-first-commercial-phone"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-three-men-conference"></i></div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-coffee-machine"></i></div>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class=""><p class="meetings-amenity-title">
                  and many more....
                </p></div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
