<!-- Intro -->
<section id="intro" >
  <div class="meetings-image overlay-dark dark-bg" style="background-image: url(/img/meetings/of10-conference-homebanner.jpg)">
    <div class="container meetings">
        <div class="row">
            <div class="col-md-6">
                <h1 class="meetings-title">Elevate your meeting experience</h1>
                <p class="meetings-subtitle">Break the mold in a bold conference space, or host an epic celebration in an ultra-sleek venue. No matter the occasion, events at Of10 are anything but expected.</p>
                  <a href="#book" class="btn btn-md btn-color-a homebutton meetings-subtitle">Book a space</a>
              </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
  </div>
</section>
<!-- End Intro -->
<div class="clearfix"></div>

<!-- Intro -->
<section id="intro2" class="ptb ptb-sm-80">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="meetings-title">Meetings Remixed</h1>
                <div class="spacer-15"></div>
                <p class="meetings-subtitle">Of10 revamps the traditional bored-room with energetic spaces designed to spark imagination and set minds racing. Looking for something outside the expected? Check out spaces like the Hustle, fully equipped screening rooms and more to get your attendees thinking beyond the conference room.</p>
                <a href="#book" class="btn btn-md btn-color-a homebutton meetings-subtitle">Book a space</a>
            </div>
            <div class="col-md-6">
              <div class="spacer-15"></div>
              <div class="owl-carousel image-slider o-flow-hidden">
                  <div class="item">
                    <img height="100%" width="100%" alt="book-conferences" src="/img/meetings/meetings1.jpg"/>
                  </div>
                  <div class="item">
                    <img height="100%" width="100%" alt="book-conferences" src="/img/meetings/meetings2.jpg"/>
                  </div>
                  <div class="item">
                    <img height="100%" width="100%" alt="book-conferences" src="/img/meetings/meetings3.jpg"/>
                  </div>
              </div>
            </div>
        </div>

    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>
<!-- Intro -->
<section id="intro3" class="ptb ptb-sm-80">

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="spacer-30"></div>
            <div class="owl-carousel image-slider o-flow-hidden">
              <div class="item">
                <img class="" alt="book-off-sites" src="/img/meetings/of10-space-events1.jpg"/>
              </div>
              <div class="item">
                <img class="" alt="book-off-sites" src="/img/meetings/of10-space-events2.jpg"/>
              </div>
              <div class="item">
                <img class="" alt="book-off-sites" src="/img/meetings/of10-space-events3.jpg"/>
              </div>
            </div>
          </div>
            <div class="col-md-6">
                <h1 class="meetings-title">SPECIAL EVENTS</h1>
                <div class="spacer-15"></div>
                <p class="meetings-subtitle">Fashion shows. Launch events. Release parties. Whatever you’re unveiling, screening, or celebrating, we’re here to make it a moment. Our special events experts are on hand to style, coordinate and innovate, helping you pull off anything, anytime.</p>
                <a href="#book" class="btn btn-md text-center btn-color-a homebutton meetings-subtitle">Book a space</a>
            </div>
        </div>

    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>
