<section id="brand">
    <div class="container">
      <h3>Brand Guidelines</h3>
      <div class="row container-grid nf-col-2">
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="1" src="/img/logos/of10.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Of10 Logo Black JPEG</h5>
              </div>
          </div>
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="1" src="/img/logos/of10.png" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Of10 Logo Black PNG</h5>
              </div>
          </div>
        </div>
    </div>
</section>
<div class="spacer-60"></div>
