<section>
    <div class="container">
      <h3>Very Frequently Asked Questions</h3>
      <div class="spacer-30"></div>
      <div class="accordion">
          <div class="accordion-section">
              <h6 class="accordion-title">What does Of10 mean?</h6>
              <div class="accordion-content">
                  <p>No we are not Office 10, nor are we O-F-10. Of10 is a play on the word Often. We believe in doing what we love, and doing it Often. We also love the 
                   <a href="https://youtu.be/i_gxp28AgLA">Weeknd</a></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">What is Of10?</h6>
              <div class="accordion-content">
                  <p>We are a radical new <a href="https://of10.in">open workspace concept in Mumbai</a> designed for millennials by millennials. We don’t believe in cubicles, we don’t believe in closed cabins. We believe in pop-art, open workspaces and having fun while we are being creative. We work hard, hustle harder and don’t take our selves too seriously.</p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Where are you guys located??</h6>
              <div class="accordion-content">
                  <p>In the hearts of entrepreneurs, philosophers and creatives everywhere, which just happens to be Hiranandani Gardens, Powai.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Why don't you put your prices online?</h6>
              <div class="accordion-content">
                  <p>We are an application only workspace for the raddest people in the world. We want you to come experience the space in person before we talk to you about our pricing and plans. Cultural fit is key. We aren’t for everyone.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Can I get a cabin for my team?</h6>
              <div class="accordion-content">
                  <p>No.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Who are your founders?</h6>
              <div class="accordion-content">
                  <p>Does it matter? Email us at work@of10.in and we will get back to you. We promise.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Can I book a meeting room?</h6>
              <div class="accordion-content">
                  <p>Of course you can! Email us, we will fix you up.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Can I conduct an event here?</h6>
              <div class="accordion-content">
                  <p>Yes you can. We love creative, unique events. We are one of the coolest <a href="https://of10.in/events/">event spaces in Powai</a>. Come talk to us, our community is up for anything. Well, almost anything.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Can use Of10 for a video-shoot?</h6>
              <div class="accordion-content">
                  <p>We have shot ads, web-series’ and movies here. So can you.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Can I do a workshop here?</h6>
              <div class="accordion-content">
                  <p>Yes you may. We will allow it. We do workshops on tech, marketing, art, photography and basically everything that catches your fancy. We run an education program called Of10-ed out of the space as well.</p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">
                  I want to talk to a live person there. Can I call you?
              </h6>
              <div class="accordion-content">
                  <p>No. We are busy having helping our members have an amazing time. The best way to reach the right person to help you is through our contact us page. For custom questions, email us first.</p>
                  <p> We suggest a dating service, magic 8 ball, or Ouija board for general life solutions.</p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">
                Aside from your website , how else can find out about your events?
              </h6>
              <div class="accordion-content">
                  <p>Boy, have you got choices. You can follow our @of10 Facebook page. You can follow the Twitter feeds for some of the Of10 live events. You can follow our Instagram page.</p>
                  <p>Aside from natural disasters, civil insurrections, or acts of God, NOTHING should keep you from knowing what events are happening at Of10 at any given second.</p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">
                I’m offended by your story/that video/you – to whom do I complain to get you to change your ways and behave more professionally?
              </h6>
              <div class="accordion-content">
                  <p>If you’re offended, then, to paraphrase Obi Wan, these aren’t the experiences you’re looking for.</p>
                  <!--p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p-->
              </div>
          </div>
      </div>
    </div>
</section>
<!-- Faq Section -->
<div class="spacer-60"></div>
