<section>
    <div class="container">
      <h3>About our company</h3>
      <div class="spacer-30"></div>
      <div class="accordion">
          <div class="accordion-section">
              <h6 class="accordion-title">What is Of10?</h6>
              <div class="accordion-content">
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">What is Of10's mission?</h6>
              <div class="accordion-content">
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Who are Of10's members?</h6>
              <div class="accordion-content">
                  <p></p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">What makes Of10 so special?</h6>
              <div class="accordion-content">
                  <p></p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">Who are Of10's Founders?</h6>
              <div class="accordion-content">
                  <p></p>
                  <p></p>
              </div>
          </div>
          <div class="accordion-section">
              <h6 class="accordion-title">What specifically does Of10 provide?</h6>
              <div class="accordion-content">
                  <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
              </div>
          </div>
      </div>
    </div>
</section>
<!-- Faq Section -->
<div class="spacer-60"></div>
