<section id="brand">
    <div class="container-fluid">
      <h3 class="text-center">Images</h3>
      <div class="row container-grid nf-col-3">
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="OF10 Reception" src="/img/gallery/of10-shared-space-reception1.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Reception</h5>
              </div>
          </div>
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="Of10 working-area" src="/img/gallery/of10-shared-space-entrance-view.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Working Area</h5>
              </div>
          </div>
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="Events at OF10" src="/img/gallery/of10-shared-space-events1.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Events</h5>
              </div>
          </div>
        </div>
    </div>
</section>
<div class="spacer-60"></div>
