<section id="brand">
    <div class="container">
      <h3>Images</h3>
      <div class="row container-grid nf-col-3">
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="1" src="/img/gallery/entrance_view.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Reception</h5>
              </div>
          </div>
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="1" src="/img/gallery/brightview.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Working Area</h5>
              </div>
          </div>
          <div class="nf-item csr spacing">
              <div class="item-box">
                <img alt="1" src="/img/gallery/events1.jpg" class="item-container">
              </div>
              <div class="spacer-15"></div>
              <div class="text-center">
                <h5>Events</h5>
              </div>
          </div>
        </div>
    </div>
</section>
<div class="spacer-60"></div>
