<section id="news">
    <div class="container">
      <h3>In the News</h3>
      <div class="spacer-30"></div>
      <div class="row">
        <ul class="text-cap">
          <a class="dark-color" rel="nofollow" href="http://www.thehindu.com/news/cities/mumbai/Offices-for-the-working-nomad/article16710353.ece">
            <li class="">Office(s) for the working nomad - The Hindu</li>
          </a>
          <div class="spacer-30"></div>
          <a class="dark-color" rel="nofollow" href="http://jllapsites.com/real-estate-compass/2016/11/co-working-office-spaces-can-mumbai-match-mounting-demand/">
            <li class="">Idea of co-working firms catches up - JLL India</li>
          </a>
          <div class="spacer-30"></div>
          <a class="dark-color" rel="nofollow" href="https://www.healthcareexecutive.in/new-age-office-budding-healthcare-entrepreneurs">
            <li class="">The New Age Office for Budding Healthcare Professionals - The Health Care Executive</li>
          </a>
          <div class="spacer-30"></div>
          <a class="dark-color" rel="nofollow" href="https://yourstory.com/2016/07/mumbai-startup-hotspots/">
            <li class="">Powai vs Lower Parel vs Andheri – which Mumbai hotspot will make or break YOUR startup story? - YourStory</li>
          </a>
          <div class="spacer-30"></div>
          <a class="dark-color" rel="nofollow" href="https://coworkingindiamag.com/shared-office-benefits-freelancer-solopreneur/">
            <li class="">How A Shared Office Benefits a Freelancer or a Solopreneur - Coworking India Mag</li>
          </a>
          <div class="spacer-30"></div>
          <a class="dark-color" rel="nofollow" href="https://nearfox.com/mumbai/of10-office-space/">
            <li class="">OF10 Powai: The Fabulous Co-Working Office Space - Nearfox</li>
          </a>
        </ul>
      </div>
    </div>
</section>
<div class="spacer-60"></div>
