.navigation,
.navigation>ul>li>a {
    font-family: Raleway, sans-serif;
    text-transform: uppercase
}
.navigation,
.navigation #menu-button,
.navigation ul,
.navigation ul li,
.navigation ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.navigation:after,
.navigation>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.navigation #menu-button {
    display: none
}
.navigation {
    position: static;
    float: right;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    padding-top: 0
}
.navigation>ul>li {
    float: left
}
.navigation.align-center>ul {
    font-size: 0;
    text-align: center
}
.navigation.align-center>ul>li {
    display: inline-block;
    float: none
}
.navigation.align-center ul ul {
    text-align: left
}
.navigation.align-right>ul>li {
    float: right
}
.navigation.align-right ul ul {
    text-align: right
}

.navigation>ul>li>a {
    padding: 41px 16px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
}
.header .navigation ul ul li a,
.navigation ul ul li a {
    padding: 10px 20px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 12px;
    outline: 0
}
.navigation ul li:hover a,
.navigation>ul>li.active>a {
    color: #EC008C
}

@media all and (max-width: 991px) {
    .navigation {
        width: auto;
        margin-left: 0
    }
    .navigation ul {
        display: none;
        left: 0;
        width: 100%;
        background: #fff;
        overflow: auto;
        position: fixed;
        top: 64px;
        z-index: 2;
        height: calc(100% - 64px)
    }
    .navigation>ul>li>a {
        color: #EC008C;
    }
    .navigation .nav-dropdown,
    .navigation .nav-sub-dropdown {
        padding-top: 0;
        padding-bottom: 0;
        background: #f7f7f7
    }
    .navigation li:hover ul.nav-sub-dropdown,
    .navigation li:hover>ul {
        top: auto
    }
    .navigation ul ul {
        opacity: 1;
        visibility: visible
    }
    .header.sticky .navigation>ul>li>a,
    .navigation>ul>li>a {
        padding: 20px 16px
    }
    .header .navigation ul ul li a,
    .header.sticky .navigation ul ul li a,
    .navigation ul ul li a {
        padding: 20px 20px 20px 30px;
        color: #000
    }
    .navigation.align-center>ul,
    .navigation.align-right ul ul {
        text-align: left
    }
    .navigation ul li,
    .navigation ul li:hover>ul>li,
    .navigation ul ul li {
        width: 100%;
        height: auto;
        border-top: 1px solid #eee
    }
    .navigation ul li a,
    .navigation ul ul li a {
        width: 100%
    }
    .navigation.align-center>ul>li,
    .navigation.align-right>ul>li,
    .navigation>ul>li {
        float: none;
        display: block;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto
    }
    .navigation ul ul li a {
        font-size: 12px;
        background: 0 0
    }
    .header .navigation ul ul ul li a,
    .header.sticky .navigation ul ul ul li a {
        padding: 20px 20px 20px 45px
    }
    .navigation ul ul li a:hover,
    .navigation ul ul li:hover>a {
        color: #e4b9b9
    }
    .navigation ul ul ul li a {
        padding-left: 40px
    }
    .navigation ul ul,
    .navigation ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0
    }
    #menu-line,
    .navigation ul ul li.nav-has-sub>a::after,
    .navigation>ul>li.nav-has-sub>a::after {
        display: none
    }
    .navigation #menu-button {
        display: inline-block;
        padding: 19px 0 20px;
        margin-left: 15px;
        color: #000000;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        z-index: 2;
        float: left
    }
    .navigation .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #eee;
        height: 52px;
        width: 52px;
        cursor: pointer
    }

    .navigation .submenu-button::after {
        top: 21px;
        left: 26px;
        width: 1px;
        height: 11px
    }
    .navigation .submenu-button::before {
        left: 21px;
        top: 26px;
        width: 11px;
        height: 1px
    }
    .navigation .submenu-button.submenu-opened:after {
        display: none
    }

}