<!-- Pricing Section -->
<section id="plans" class="ptb ptb-sm-80">
    <div class="container text-center">
        <h3>Community Plans</h3>
          <div class="spacer-15"></div>
          <div class="row">
            <div class="col-md-4">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Gallery</h4>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>16 Days a month</li>
                            <li>8 am - 9 pm access</li>
                            <li>Break out room access</li>
                            <li>High Speed Managed Internet</li>
                            <li>Unlimited Tea / Coffee</li>
                            <li>Discounts at our partners</li>
                            <li>Discounted access to events</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Pricing-box highlight">
                    <div class="price-title spacing-box">
                        <h4>Community</h4>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>22 - 25 Days a month</li>
                            <li>24x7 access</li>
                            <li>Break out room access</li>
                            <li>High Speed Managed Internet</li>
                            <li>Unlimited Tea / Coffee</li>
                            <li>Discounts at our partners</li>
                            <li>Discounted access to events</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Pricing-box">
                    <div class="price-title spacing-box">
                        <h4>Resident</h4>
                    </div>
                    <hr />
                    <div class="pricing-features spacing-grid">
                        <ul>
                            <li>30 Days a month</li>
                            <li>24x7 access</li>
                            <li>Break out room access</li>
                            <li>Dedicated space with storage</li>
                            <li>High Speed Managed Internet</li>
                            <li>Unlimited Tea / Coffee</li>
                            <li>Discounts at our partners</li>
                            <li>Discounted access to events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-60"></div>
        <div class="row">
          <div class="col-md-4">
              <div class="Pricing-box">
                  <div class="price-title spacing-box">
                      <h4>Drop In</h4>
                  </div>
                  <hr />
                  <div class="pricing-features spacing-grid">
                      <ul>
                          <li>Hourly or Full Day Access</li>
                          <li>8 am - 9 pm access</li>
                          <li>High Speed Managed Internet</li>
                          <li>Unlimited Tea / Coffee</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="Pricing-box">
                  <div class="price-title spacing-box">
                      <h4>Weekend</h4>
                  </div>
                  <hr />
                  <div class="pricing-features spacing-grid">
                      <ul>
                          <li>8 Days a month</li>
                          <li>8 am - 9 pm Saturday and Sunday access</li>
                          <li>Break out room access</li>
                          <li>High Speed Managed Internet</li>
                          <li>Unlimited Tea / Coffee</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="Pricing-box">
                  <div class="price-title spacing-box">
                      <h4>Off-Hour</h4>
                  </div>
                  <hr />
                  <div class="pricing-features spacing-grid">
                      <ul>
                          <li>22 days a month</li>
                          <li>7 pm - 11 pm</li>
                          <li>Break out room access</li>
                          <li>High Speed Managed Internet</li>
                          <li>Unlimited Tea / Coffee</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
<!-- End Pricing Section -->
