<section id="locations" class="wow fadeInUp ptb ptb-sm-80 text-center" style="background-color:#F7F7F7">
    <div class="container">
        <h3>Locations</h3>
        <div class="spacer-15"></div>
        <h4>Madeira and Mime</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="para-insider">
                    This chic cafe is located in the bustling Hiranandani Gardens.
                    It’s tasteful decor, hipster crowd and excellent coffee make it a creatives’ paradise.
                    Handcrafted beer on tap and a scrumptious bar menu are added bonuses.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="owl-carousel image-slider o-flow-hidden">
                    <div class="item">
                        <img class="gallery_insider" alt="madmime" src="img/of10.png"data-defer-src="img/locations/madmime.jpg" data-src="img/of10.png"data-defer-src="img/gallery/table1.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img class="gallery_insider" alt="madmime" src="img/of10.png"data-defer-src="img/locations/madmime.jpg" data-src="img/of10.png"data-defer-src="img/gallery/table2.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img class="gallery_insider" alt="madmime" src="img/of10.png"data-defer-src="img/locations/madmime.jpg" data-src="img/of10.png"data-defer-src="img/gallery/table3.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img class="gallery_insider_1" alt="madmime" src="img/of10.png"data-defer-src="img/locations/madmime.jpg" data-src="img/of10.png"data-defer-src="img/locations/madmime.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-three-men-conference"></i></div>
                <h5>Balance shareable amongst friends</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-coffee-machine"></i></div>
                <h5>Unlimited refills on coffee</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-calendar"></i></div>
                <h5>Complimentary locker access</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="flaticon-money"></i></div>
                <h5>15% discount on food</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="h4">Hours</h2>
                <div class="spacer-15"></div>
                <p class="para-insider">
                    Monday - Saturday <br/> 10 AM - 6 PM
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="h4">Price</h2>
                <div class="spacer-15"></div>
                <p class="para-insider">
                    INR 100 per hour.<br/> INR 5000 for the month
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a href="#contact" class="btn btn-md btn-black">Book Now</a>
            </div>
        </div>
    </div>
</section>