---
title: Thanks for your interest in Of10. 
permalink: /thanks/
---

<!DOCTYPE html>
<html>
    {% include thanks/head_thanks.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
               <p class="loader-caption color">#thankyousooooomuch</p>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include thanks/thanks.html %}
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>