<!DOCTYPE html>
<html>
    {% include blog/head-blog.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <p class="loader-caption color">#readmorelearnmore</p>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include blog/nav-blog.html %}
            {% include blog/blog-intro.html %}
            {% include blog/posts.html %}
            {% include blog/footer-blog.html %}
            {% include blog/js-blog.html %}
              {% register_service_worker %}
        </div>
    </body>
</html>
