<!DOCTYPE html>
<html>
    {% include community/head.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include community/community-intro.html %}
            {% include community/partners.html %}
            {% include community/partner-list.html %}
            {% include footer.html %}
            {% include community/js.html %}
        </div>
    </body>
</html>
