<!DOCTYPE html>
<html>
    {% include community/head.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
            <h2 class="loader-caption color">#communityislife</h2>
            <!-- <div class="loader-img"></div> -->
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include community/members.html %}
            {% include footer.html %}
            {% include community/js.html %}
        </div>
    </body>
</html>
