<!DOCTYPE html>
<html>
   {% include contact/head_contact.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
            <p class="loader-caption color">#dowhatyouloveanddoitof10</p>
            <!-- <div class="loader-img"></div> -->
          </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
         {% include sidebar.html %}
         <div id="page-content-wrapper">
            {% include contact/book.html %}
            {% include footer.html %}
         </div>
      </div>
      {% include community/js.html %}
      {% register_service_worker %}
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
         // $(document).delegate('onload', 'body', function(){
         //    setTimeout(function() {
         //    $(".directions-card").css('display', 'none');
         //    console.log("enter");
         //  }, 3000);
         // });

      </script>
    </body>
</html>
