<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="full-intro">
        <!-- Preloader -->
        <!-- <section id="preloader">
            <div class="loader" id="loader">
                <div class="loader-img"></div>
            </div>
        </section> -->
    <!-- End Preloader -->
        <div class="wrapper">
        {% include overlay_menu.html %}
        {% include nav_custom.html %}
        {% include home.html %}
        {% include about_masonry.html %}
        {% include amenities.html %}
        {% include slideshow.html %}
        {% include clients.html %}
        {% include apply.html %}
        {% include footer.html %}
        {% include structured_data.html %}
        {% include js.html %}
        </div>
    </body>
</html>