<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="full-intro">
        <!-- Preloader -->
        <section id="preloader">
            <div class="loader" id="loader">
               <h2 class="loader-caption color">#workworkworkworkwork</h2>
            </div>
        </section>
        <!-- End Preloader -->
        <div class="wrapper">
        {% include overlay_menu.html %}
        {% include nav_custom.html %}
        {% include home.html %}
        {% include about_masonry.html %}
        {% include about.html %}
        {% include amenities.html %}
        {% include clients.html %}
        {% include slideshow.html %}
        {% include apply.html %}
        {% include footer.html %}
        {% include structured_data.html %}
        {% include js.html %}
        </div>
    </body>
</html>
