<!DOCTYPE html>
<html>
    {% include education/head_education.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include education/courses.html %}
            {% include education/footer_education.html %}
            {% include education/js_education.html %}
        </div>
    </body>
</html>
