<!DOCTYPE html>
<html>
   {% include education/head_education.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#neverstoplearning</p>
         </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
         {% include sidebar.html %}
         <div id="page-content-wrapper">
            {% include education/courses.html %}
            {% include education/footer_education.html %}
         </div>
      </div>
      {% include education/js_education.html %}
      
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
    </body>
</html>
