<!DOCTYPE html>
<html>
    {% include head_events.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include event-intro.html %}
            {% include events-list.html %}
            {% include footer_insider.html %}
            {% include js_events.html %}
        </div>
    </body>
</html>
