<!DOCTYPE html>
<html>
   {% include events/head_events.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#playplayplayplayplay</p>
         </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
         {% include sidebar.html %}
         <div id="page-content-wrapper">
            {% include events/event-intro.html %}
            {% include events/events-list.html %}
            {% include events/event-booking.html %}
            {% include footer.html %}
        </div>
      </div>
      {% include events/js_events.html %}
      {% register_service_worker %}
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
   </body>
</html>
