<!DOCTYPE html>
<html>
    {% include events/head_events.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <h2 class="h1 para-insider color">Get Social</h2>
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include events/event-intro.html %}
            {% include events/events-list.html %}
            {% include footer.html %}
            {% include events/js_events.html %}
        </div>
    </body>
</html>
