<!DOCTYPE html>
<html>
{% include head_insider.html %}
<body class="full-intro">
<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->
<div class="wrapper">
    {% include overlay_menu.html %}
    {% include nav_insider_custom.html %}
    {% include home_insider.html %}
    {% include amenities_insider.html %}
    {% include locations_insider.html %}
    {% include footer_insider.html %}
    {% include js_insider.html %}
</div>
</body>
</html>