<!DOCTYPE html>
<html>
    {% include head_blog.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_blog.html %}
            {% include blog-intro.html %}
            {% include posts.html %}
            {% include footer-blog.html %}
            {% include js.html %}
        </div>
    </body>
</html>
