<!DOCTYPE html>
<html>
   {% include meetings/head.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#GatherAssembleRally</p>
         </div>
      </section>
      <div id="wrapper">
         {% include sidebar.html %}
         {% include meetings/home.html %}
         {% include meetings/amenities.html %}
         {% include meetings/clients.html %}
         {% include meetings/book.html %}
         <div id="page-content-wrapper">
            {% include footer.html %}
         </div>
      </div>
      {% include js.html %}
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
   </body>
</html>
