<!DOCTYPE html>
<html lang="en">
   {% include meetings/head.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#GatherAssembleRally</p>
         </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
        {% include sidebar.html %}
        <div id="page-content-wrapper">
           {% include meetings/home.html %}
           {% include meetings/amenities.html %}
           {% include meetings/clients.html %}
           {% include meetings/book.html %}
           {% include footer.html %}
        </div>
      </div>
      {% include js.html %}
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
   </body>
</html>
