<!DOCTYPE html>
<html>
    {% include partnerships/head.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
            <h2 class="loader-caption color">#goplaces</h2>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include community/community_nav.html %}
            {% include partnerships/partnerships-intro.html %}
            {% include partnerships/partners.html %}
            {% include partnerships/partner-list.html %}
            {% include footer.html %}
            {% include community/js.html %}
        </div>
    </body>
</html>
