<!DOCTYPE html>
<html>
   {% include partnerships/head.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#goplaces</p>
         </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
         {% include sidebar.html %}
         <div id="page-content-wrapper">
            {% include partnerships/partnerships-intro.html %}
            {% include partnerships/partners.html %}
            {% include partnerships/partner-list.html %}
            {% include partnerships/partner-with-us.html %}
            {% include footer.html %}
         </div>
      </div>
      {% include community/js.html %}
      {% register_service_worker %}
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
   </body>
</html>
