<!DOCTYPE html>
<html>
    {% include partnerships/head.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <div class="loader-img"></div>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include partnerships/partnerships-intro.html %}
            {% include partnerships/partners.html %}
            {% include partnerships/partner-list.html %}
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>
