<!DOCTYPE html>
<html>
    {% include blog/head-post.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
              <h2 class="loader-caption color">You are awesome..</h2>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
          {% include overlay_menu.html %}
          {% include blog/nav-blog.html %}
          {% include blog/post.html %}
          {% include blog/footer-blog.html %}
          {% include blog/js-blog.html %}
        </div>
    </body>
</html>
