<!DOCTYPE html>
<html>
    {% include contact/head_contact.html %}
    <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
          <div class="loader" id="loader">
            <h2 class="loader-caption color">#papapaparazzi</h2>
          </div>
      </section>
      <!-- End Preloader -->
        <div class="wrapper">
            {% include overlay_menu.html %}
            {% include nav_custom.html %}
            {% include press/media.html %}
            {% include press/news.html %}
            {% include press/faq.html %}
            {% include press/brand.html %}
            {% include press/images.html %}
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>
