<!DOCTYPE html>
<html>
   {% include contact/head_contact.html %}
   <body class="full-intro">
      <!-- Preloader -->
      <section id="preloader">
         <div class="loader" id="loader">
            <p class="loader-caption color">#papapaparazzi</p>
         </div>
      </section>
      <!-- End Preloader -->
      {% include nav.html %}
      <div id="wrapper" style="padding-top: 60px;">
         {% include sidebar.html %}
         <div id="page-content-wrapper">
            {% include press/media.html %}
            {% include press/news.html %}
            {% include press/faq.html %}
            {% include press/brand.html %}
            {% include press/images.html %}
            {% include footer.html %}
            {% include community/js.html %}
            
         </div>
      </div>
      <script type="text/javascript">
         $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
         });
      </script>
   </body>
</html>
